
<!---  use
            render 'calendar'
       inside ruby tags to display the calendar on any page
-->

<!-- TODO: implement filtering (by month, week, day) to call Event.events_between(...) appropriatly. Ask Team Biber (Daniel Stolpe, Meike Baumgärtner) in case of questions concerning Event.events_between(...) and recurring events
Event.events_between(..) returns a collection of EventOccurrences. To access the "real" Event call "event" on an EventOccurrence instance
-->

<div id="calendar"></div>

<script>
	$(document).ready(function(){
		$("#calendar").fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			events: [
                <% @calevents.each do |each| %>
					
					<% if each.event.user_id === current_user.id %>
					{
						title: '<%= each.event.name %>',
						start: '<%= each.starts_occurring_at %>',
                        end:   '<%= each.ends_occurring_at %>',
                        event_id: '<%= each.event_id %>'


                    	<% if each.event.is_approved %>
                        	, color: 'green'
                    	<% else %>
                    		, color: 'red'
                    	<% end %> 
					
					},
					<% end %>
                <% end %>

                <% @favorites.each do |each| %>
					
					<% @event = Event.find_by_id(each.event_id) %>
						<% if @event && @event.user_id != current_user.id && each.is_favorite %>
						{
							title: '<%= @event.name %>',
							start: '<%= @event.starts_at %>',
                            event_id: '<%= each.event_id %>'
							
							<% if @event.is_approved %>
		                       	, color: 'blue'
		                    <% else %>
		                    	, color: 'red'
		                    <% end %> 	
						},
						<% end %>
                <% end %>
			],
			theme: false,
            eventClick: function(calEvent, jsEvent, view){
                var f = 'YYYY-MM-DD hh:mm:ss'
                var route = '<%= show_occurrence_path %>' + '?eventid=' + calEvent.event_id + '&starting=' + encodeURIComponent(calEvent.start.toISOString()) + '&ending=' + encodeURIComponent(calEvent.end.toISOString())
                //console.log(calEvent.schedule)

                window.open(route, "_self")
            }
		});
	});
</script>