<%- model_class = Event -%>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><%= t('dashboard.upcoming_events') %></h3>
    </div>
    <div class="panel-body">
        <% if !@events.empty? %>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><%= model_class.human_attribute_name 'name' %></th>
                    <th><%= model_class.human_attribute_name 'starts_at' %></th>
                </tr>
                </thead>
                <tbody>
                <% @events.each do |event| %>
                    <tr>
                        <td><%= link_to event.name, event_path(event) %></td>
                        <td><%=l event.starts_at if event.starts_at  %></td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        <% else %>
            <%= t('dashboard.no_events') %>
        <% end %>
    </div>
</div>