<div class="page-header">
	<h1><%= t('dashboard.title') %></h1>
</div>
<div class="row">
	<div class="col-md-9">
		<%= render "event_overview" %>
		<div class="panel panel-default">
		    <div class="panel-heading">
		        <h3 class="panel-title"><%= t('dashboard.calendar') %></h3>
		    </div>
		    <div class="panel-body">
				<%= render 'calendar' %>
	  	  </div>
		</div>
	</div>
	<div class="col-md-3">
		<%= render partial: 'my_events', locals: {my_upcoming_events: @my_upcoming_events} %>
		<%= render partial: 'tasks_list', locals: {my_accepted_tasks: @my_accepted_tasks, my_pending_tasks: @my_pending_tasks, my_accepted_events: @my_accepted_events, my_pending_events: @my_pending_events, group_pending_tasks: @group_pending_tasks,
			group_pending_events: @group_pending_events, my_groups: @my_groups} %>
	</div>
</div>