<div id="filterrific_results">
  <%= will_paginate @event_templates, renderer: BootstrapPagination::Rails %>
  <div>
    <%= page_entries_info event_templates %>
  </div>

  <table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name 'name' %></th>
      <th><%= model_class.human_attribute_name 'description' %></th>
      <th><%= model_class.human_attribute_name 'rooms' %></th>
      <th><%= t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @event_templates.each do |event_template| %>
      <tr>
        <td><%= link_to event_template.name, event_template_path(event_template) %></td>
        <td><%= trimDescription event_template.description %></td>
        <td><%= event_template.rooms.map(&:name).to_sentence %></td>
        <td>
        <% if can? :edit, event_template%>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_event_template_path(event_template), :class => 'btn btn-default btn-xs' %>
        <% end %>
         <% if can? :destroy, event_template %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      event_template_path(event_template),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        <% end %>
           <%= link_to t('.create', :default => t("helpers.submit.create", :model => Event.model_name.human.titleize)),
                      new_event_from_template_path(event_template), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
<%= will_paginate event_templates, renderer: BootstrapPagination::Rails %>
</div>

