<div class="col-lg-8">
  <%= form_for @task, :html => { :class => 'form-horizontal task edit-task', :multipart => true } do |f| %>
    <% if @task.errors.any? %>
      <div id="error_expl" class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= t 'errors.template.header.other', :model => Task.model_name.human, :count => @task.errors.count %>
          </h3>
        </div>
        <div class="panel-body">
          <ul>
            <% @task.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
      <%= error_span(@task[:name]) %>
    </div>
    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :description, :class => 'form-control' %>
      </div>
      <%= error_span(@task[:description]) %>
    </div>
    <div class="control-group">
      <%= f.label :event_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :event_id, :class => 'form-control' , :readonly => @event_field_readonly %>
      </div>
      <%= error_span(@task[:event_id]) %>
    </div>
    <div class="control-group">
        <%= f.label :user_id, :class => 'control-label' %>
        <div class="controls">
          <%= f.collection_select :user_id, User.all, :id, :identity_url, {include_blank: t("tasks.user.none")}, :class => 'form-control' %>
        </div>
        <%= error_span(@task[:user_id]) %>
    </div>
    <% unless @task.new_record? %>
      <div class="control-group">
        <%= f.label :done, :class => 'control-label' %>
        <div class="checkbox">
          <%= f.check_box :done, :class => 'form-control' %>
        </div>
        <%= error_span(@task[:done]) %>
      </div>
    <% end %>
    <div class="control-group">
        <%= f.label :uploads, :class => 'control-label' %>
        <div class="controls">
            <%= file_field_tag "uploads[]", type: :file, multiple: true %>
        </div>
    </div>

    <h3><%= t('.attachments') %></h3>
    <h4>Files</h4>
        <ul class="list-group">
            <% if @task.uploads.count() > 0 %>
                <% @task.uploads.each do |upload| %>
                    <%= link_to upload.file_file_name, public_url(upload.id, upload.file_file_name) , :class => 'list-group-item', :style => "width:50%; display: inline-block;" %>
                    <%= link_to 'Delete', upload, :class => 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
            <% end %>
        </ul>
    <h4>Links</h4>
        <ul class="list-group" data-bind="foreach: attachments">
            <a class="list-group-item" style="width:50%; display: inline-block" data-bind="text: title, attr: { href: url }"></a>
            <button class="btn btn-danger" data-bind="click: $parent.deleteAttachment">Delete</button>
            <input name="task[attachments_attributes][][title]" type="hidden" data-bind="value: title" />
            <input name="task[attachments_attributes][][url]" type="hidden" data-bind="value: url" />
        </ul>

    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              @return_url.nil? ? tasks_path : @return_url, :class => 'btn btn-default' %>
  <% end %>
</div>

<div class="col-lg-2">
  <form data-bind="submit: addAttachment">
    <div class="control-group">
      <label class="control-label" for="attachment_title">Titel</label>
      <div class="controls">
        <input type="text" class="form-control" name="attachment_title" data-bind="value: newAttachmentTitle" />
      </div>
    </div>    
    <div class="control-group">
      <label class="control-label" for="attachment_url">URL</label>
      <div class="controls">
        <input type="text" class="form-control" name="attachment_url" data-bind="value: newAttachmentUrl" />
      </div>
    </div>
    <div class="control-group">
      <input type="submit" value="<%= t('.add_attachment') %>" class="btn" data-bind="enable: isInputValid"/>
    </div>
  </form>
</div>