<div class="col-lg-8">
  <%= form_for @task, :html => { :class => 'form-horizontal task edit-task task_form', :multipart => true } do |f| %>
    <% if @task.errors.any? %>
      <div id="error_expl" class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= t 'errors.template.header.other', :model => Task.model_name.human, :count => @task.errors.count %>
          </h3>
        </div>
        <div class="panel-body">
          <ul>
            <% @task.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <% unless @upload_errors.blank? %>
      <div id="error_expl" class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= t('tasks.form.files') %>
          </h3>
        </div>
        <div class="panel-body">
          <ul>
            <% @upload_errors.each do |name, error| %>
              <li><%= name %>: <%= error.full_messages_for(:file) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
      <%= error_span(@task[:name]) %>
    </div>
    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :description, :class => 'form-control' %>
      </div>
      <%= error_span(@task[:description]) %>
    </div>
    <div class="control-group">
      <% if @for_event_template %> 
        <%= f.hidden_field :event_template_id, :value => @task.event_template_id, :readonly => true %>
      <% else %>
        <%= f.hidden_field :event_id, :value => @task.event_id, :readonly => true %>
      <% end %>
    </div>
    <% unless @for_event_template %> 
      <div class="control-group">
        <%= f.label :deadline, :class => 'control-label' %>
        <div class="controls">
            <%= f.date_field :deadline, :class => 'form-control' %>
        </div>  
        <%= error_span(@task[:deadline]) %>  
      </div>
      <div class="control-group">
        <%= f.label :identity, :class => 'control-label' %>
        <div class="controls">
            <%= f.hidden_field :identity, value: "#{@task[:identity_type]}:#{@task[:identity_id]}" %>
            <input type="text" id="task_identity_display", class="form-control", data-autocomplete-url="<%= identities_autocomplete_path %>" value="<%= @identity_name %>">
        </div>
        <%= error_span(@task[:identity]) %>
      </div>
    <% end %>
    <% unless @task.new_record? or @for_event_template %>
      <div class="control-group">
        <%= f.label :done, :class => 'control-label' %>
        <div class="checkbox">
          <%= f.check_box :done, :class => 'form-control' %>
        </div>
        <%= error_span(@task[:done]) %>
      </div>
    <% end %>

    <h3><%= t('.attachments') %></h3>
    <h4><%= t('tasks.form.files') %></h4>
    <button id="add_upload_field" name="add_upload_field" onclick="addUploadField();" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
    <div class="control-group" id="upload_div">
        <div class="controls" data-task-id="<%= @task.id %>">
            <div class="task-upload" id="task_upload_template">
              <%= file_field_tag "uploads[]", :id => 'uploads_template', :type => :file, :class => 'btn btn-default btn-file', :onchange => 'onUploadFileSelected(this)' %>
              <span class="task-upload-name"></span>
              <button id="delete_upload_template" name="delete_upload_template" type="button" class="btn btn-xs btn-danger" onclick="removeUploadFile(this)"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
            <div class="task-upload" id="task_upload_1">
              <%= file_field_tag "uploads[]", :id => 'uploads_1', :type => :file, :class => 'btn btn-default btn-file', :onchange => 'onUploadFileSelected(this)' %>
              <span class="task-upload-name"></span>
              <button id="delete_upload_1" name="delete_upload_1" type="button" class="btn btn-xs btn-danger" onclick="removeUploadFile(this)"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
    </div>
    <ul id="list_uploads" class="list-group">
        <% if @task.uploads.count() > 0 %>
            <% @task.uploads.each_with_index do |upload, i| %>
                <div>
                  <%= link_to upload.file_file_name, public_url(upload.id, upload.file_file_name), :class => 'list-group-item', :style => "width:85%; display: inline-block;" %>
                  <button id="task_list_upload_<%= i %>" name="task_list_upload_<%= i %>" type="button" class="btn btn-xs btn-danger" onclick="removeTaskFile(this)"><span class="glyphicon glyphicon-remove"></span></button>
                  <input type='hidden' name='delete_uploads[<%= upload.id %>]' value='false'>
                </div>
            <% end %>
        <% end %>
    </ul>
    <div data-bind="foreach: attachments">
        <input name="task[attachments_attributes][][title]" type="hidden" data-bind="value: title" />
        <input name="task[attachments_attributes][][url]" type="hidden" data-bind="value: url" />
    </div>
  <% end %>
  <div id="attachments">
    <h4><%= t('tasks.form.links') %></h4>
    <form id="attachment_form" data-bind="submit: addAttachment">
        <div class="control-group">
            <label class="control-label" for="attachment_title"><%= t('tasks.attachments.title') %></label>
            <div class="controls">
                <input type="text" class="form-control" name="attachment_title" data-bind="value: newAttachmentTitle" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="attachment_url"><%= t('tasks.attachments.url') %></label>
            <div class="controls">
                <input type="text" class="form-control" name="attachment_url" data-bind="value: newAttachmentUrl" />
            </div>
        </div>
        <div class="control-group">
            <input type="submit" value="<%= t('tasks.form.add_attachment') %>" class="btn" id="attachment_form_submit" data-bind="enable: isInputValid"/>
        </div>
    </form>
    <div class="list-group" data-bind="foreach: attachments">
        <a data-bind="attr: { href: url }" class="list-group-item clearfix">
          <span data-bind="text: title"></span>
          <span class="pull-right">
            <button class="btn btn-danger" data-bind="click: $parent.deleteAttachment"><%= t('delete') %></button>
          </span>
        </a>
    </div>
  </div>
  <%= submit_tag t('submit'), :class => 'btn btn-primary form_submit task_form_submit', :onclick => "$('.task_form').submit();" %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            @return_url.nil? ? tasks_path : @return_url, :class => 'btn btn-default' %>
</div>

