<%- model_class = Task -%>
<% return_url = request.env['PATH_INFO'] %>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-sm-1"><%= model_class.human_attribute_name(:done) %></th>
      <th class="col-sm-1"><%= model_class.human_attribute_name(:attachments) %></th>
      <th class="col-sm-5"><%= model_class.human_attribute_name(:name) %></th>
      <th class="col-sm-5"></th>
    </tr>
  </thead>
  <tbody>
    <% tasks.each do |task| %>
      <tr>
        <td><input class="task-done-checkbox" type="checkbox" <%= task.done ? 'checked' : '' %> data-taskpath="<%= task_path(task.id) %>" data-user_id="<%= task.user_id %>"></td>
        <td><%= task.attachments.count() > 0 ? "Yes" : "No" %></td>
        <td><%= link_to task.name, task_path(task, return_url: return_url) %></td>
        <td class="<%= task.status %> pull-right"><%= (task.user_id.blank?) ? t("tasks.status.not_assigned") : (task.user.identity_url) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Hinzufügen', new_task_path(event_id: @event_id, return_url: return_url), :class => 'btn btn-primary' %>
