<%- model_class = Task -%>
<% return_url = request.env['PATH_INFO'] %>
<% if tasks.empty? %>
  <div class="no-tasks-text">
    <%= t('tasks.show.no_tasks') %>
  </div>
<% else %>
  <table class="table table-striped" <%= 'id=tasks-sortable' if params[:controller] == 'events' %>>
    <thead>
      <tr>
        <th class="col-sm-1"><%= model_class.human_attribute_name(:done) %></th>
        <th class="col-sm-1"></th>
        <th class="col-sm-5"><%= model_class.human_attribute_name(:name) %></th>
        <th class="col-sm-5"><%= model_class.human_attribute_name(:assigned_to) %></th>
        <th class="col-sm-2"><%= model_class.human_attribute_name(:deadline) %></th>
      </tr>
    </thead>
    <tbody>
      <% tasks.each do |task| %>
        <tr data-item-id=<%= "#{task.id}" %> class="item">
          <td class="col-sm-1"><input class="task-done-checkbox" type="checkbox" <%= task.done ? 'checked' : '' %> data-taskpath="<%= task_path(task.id) %>" data-user-id="<%= task.user_id %>"></td>
          <td class="col-sm-1">
            <span class="glyphicon glyphicon-paperclip <%= task.attachments.count() > 0 ? "" : "hidden" %>" aria-hidden="true"></span>
          </td>
          <td class="col-sm-5"><%= link_to task.name, task_path(task, return_url: return_url) %></td>
          <td class="<%= task.status %> col-sm-5"><%= (task.user_id.blank?) ? t('tasks.status.not_assigned') : (task.user.identity_url) %></td>
          <% if task.deadline %> 
            <td><%= task.deadline.strftime("%d.%m.%Y") %></td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= link_to t('tasks.show.new'), new_task_path(event_id: @event_id), :class => 'btn btn-primary' %>
