<% page_header = t '.title', :default => Task.model_name.human(:count => 2).titleize %>
<% title page_header %>
<div class="page-header">
  <h1><%= page_header %></h1>
</div>
<div>
  <%= form_tag(tasks_path, :method => "get") do %>
    <%= collection_select :event, :event_id, @events, :id, :name, {:include_blank => "All events", :selected => @event_id} %>
    <%= submit_tag 'Filtern' %>
  <% end %>
</div>
<%= render :partial => 'tasks_box', :locals => {:tasks => @tasks, :event => nil} %>
