<% title @task.name %>
<%- model_class = Task -%>
<div class="task-page-header">
  <div class="row task-section-divider">
    <div class="col-xs-12 col-md-8">
      <h1>
        <%=t '.title', :default => model_class.model_name.human.titleize %>:
        <%= @task.name %>
      </h1>
    </div>
    <div class="col-xs-6 col-md-4" style="text-align: right">
      <h2><%= @task.deadline.strftime("%d.%m.%Y") %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <h3><%= @event.name %> (<%= @event.starts_at.strftime("%d.%m.%Y") %>)</h3>
    </div>
    <div class="col-xs-6 col-md-4" style="text-align: right">
      <h3 class="<%= @task.status %>">
        <% if @task.identity %>
          <%= link_to @task.identity.name, polymorphic_path(@task.identity), class: 'hidden-link' %>
        <% end %>  
      </h3>
    </div>
  </div>
</div>



<div class="row task-section-divider task-section">
  <div class="col-xs-16 col-md-10 task-description">
    <%= raw nl2br h @task.description %>
  </div>
  <div class="col-xs-2 col-md-2 task-done-indicator">
    <% if @task.done %>
      <span class="glyphicon glyphicon-ok task-glyphicon-done"></span>
      <br><span class="task-done"><%= t('tasks.show.done') %></span>
    <% end %>
  </div>
</div>


<% if @task.uploads.count() > 0 %>
  <div class="row task-middle-section">
    <h3><%= t('tasks.show.files') %></h3>
    <ul class="task-attachment">
      <% @task.uploads.each do |upload| %>
      <li><span class="glyphicon glyphicon-file task-glyphicon-file"></span><%= link_to upload.file_file_name, public_url(upload.id, upload.file_file_name) %></li>
    <% end %>  
    </ul>
  </div>
<% end %>

<% if @task.attachments.count() > 0 %>
  <div class="row task-middle-section">
    <h3><%= t('tasks.show.links') %></h3>
    <ul>
      <% @task.attachments.each do |attachment| %>
        <li><%= link_to attachment.title, attachment.url, target: '_blank' %></li>
      <% end %>
    </ul>
  </div>
<% end %>



<div class="row task-lower-section">
  <div class="col-xs-4 col-md-3">
    <%= link_to event_path(@task.event_id), :title => t("helpers.links.back"), :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-arrow-left"></span>    
    <% end %>
  </div>
  <div class="col-xs-14 col-md-9 text-right">
    <% if can? :edit, @task %>
      <%= link_to edit_task_path(@task), :title => t("helpers.links.edit"), :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-pencil"></span>    
    <% end %>
    <% end %>
    <%= link_to task_path(@task),
            :title => t("helpers.links.destroy"),
            :method => 'delete',
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-danger' do %>
          <span class="glyphicon glyphicon-trash"></span>
    <% end %>
  </div>
</div>
