<!DOCTYPE html>
<html>
<head>
<style type="text/css">
img {
width:100%;
}

</style>
</head>
<body>

<div class="btn-group">
   <button id="togglebutton" type="button" class="btn btn-default dropdown-toggle btn-lg" 
      data-toggle="dropdown">
      Anzuzeigende Karten auswählen 
      <span class="caret"></span>
   </button>
   <ul class="dropdown-menu" role="menu">
      <li onclick="showBuilding('Hauptgebäude')"><a>Hauptgebäude</a></li>
      <li onclick="showBuilding('ABC Gebäude')"><a>ABC Gebäude</a></li>
      <li onclick="showBuilding('Hörsäle')"><a>Hörsäle</a></li>
      <li onclick="showBuilding('Villa')"><a>Villa</a></li>
   </ul>
</div>

<p id="content"></p>


<script>
function showBuilding(x) {
    var hpt = '<p><h1 align="center">Hauptgebäude Erdgeschoss</h1><br></br><%=image_tag("floorplan-h-e.png", alt: "Hauptgebäude EG")%><br></br><h1 align="center">Hauptgebäude 1.Obergeschoss</h1><br></br><%=image_tag("floorplan-h-1.png", alt: "Hauptgebäude 1.OG")%><br></br><h1 align="center">Hauptgebäude 2.Obergeschoss</h1><br></br><%=image_tag("floorplan-h-2.png", alt: "Hauptgebäude 2.OG")%></p>'

    var hör = '<h1 align="center">Hörsaalgebäude</h1><br></br><%=image_tag("floorplan-lecture-hall.png", alt: "Hörsaalplan")%>'

    var abc = '<h1 align="center">A Gebäude Erdgeschoss</h1><br></br><%=image_tag("floorplan-a-e.jpg", alt: "Erdgeschoss A")%><br></br><h1 align="center">A Gebäude 1.Obergeschoss</h1><br></br><%=image_tag("floorplan-a-1.jpg", alt: "A1")%><br></br><h1 align="center">A Gebäude 2.Obergeschoss</h1><br></br><%=image_tag("floorplan-a-2.jpg", alt: "A2")%><br></br><h1 align="center">B Gebäude Erdgeschoss</h1><br></br><%=image_tag("floorplan-b-e.jpg", alt: "Erdgeschoss B")%><br></br><h1 align="center">B Gebäude 1.Obergeschoss</h1><br></br><%=image_tag("floorplan-b-1.jpg", alt: "B1")%><br></br><h1 align="center">B Gebäude 2.Obergeschoss</h1><br></br><%=image_tag("floorplan-b-2.jpg", alt: "B2")%><br></br><h1 align="center">C Gebäude Erdgeschoss</h1><br></br><%=image_tag("floorplan-c-e.jpg", alt: "Erdgeschoss C")%><br></br><h1 align="center">C Gebäude 1.Obergeschoss</h1><br></br><%=image_tag("floorplan-c-1.jpg", alt: "C1")%><br></br><h1 align="center">C Gebäude 2.Obergeschoss</h1><br></br><%=image_tag("floorplan-c-2.jpg", alt: "C2")%>'

    var villa ='<h1 align="center">Villa Erdgeschoss</h1><br></br><%=image_tag("floorplan-villa_0.jpg", alt: "Villa Erdgeschoss")%><br></br><h1 align="center">Villa 1.Obergeschoss</h1><br></br><%=image_tag("floorplan-villa_1.jpg", alt: "Villa 1.OG")%><br></br><h1 align="center">Villa 2.Obergeschoss</h1><br></br><%=image_tag("floorplan-villa_2.jpg", alt: "Villa 2.OG")%>'


      if(x == "Hauptgebäude"){
        $('#togglebutton').text('Hauptgebäude');
        document.getElementById("content").innerHTML = hpt;
      }else if(x == "ABC Gebäude"){
       $('#togglebutton').text('ABC Gebäude');
        document.getElementById("content").innerHTML = abc;
      }else if(x == "Hörsäle"){
        $('#togglebutton').text('Hörsäle');
        document.getElementById("content").innerHTML = hör;        
      }else if(x == "Villa"){
        $('#togglebutton').text('Villa');
        document.getElementById("content").innerHTML = villa;       
      }

}
</script>

</body>
</html>

