<script>
  $(document).ready(function(){
    $("#equipment_room_id").multiselect({
      enableFiltering: true,
      maxHeight: 250 })
    $(".multiselect ").parent().css("width","100%")
    $(".multiselect ").addClass("multiselectDropdown")

    var availableTags=[
      <% @categories= getCategories %>
      <% @categories.each do | cat | %>
        "<%= cat[0]%>",
      <% end %>
    ]
    $( "#equipment_category" ).autocomplete({
      source: availableTags
    })

    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

<%= form_for @equipment, :html => { :class => "form-horizontal equipment" } do |f| %>

    <% if @equipment.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title"><%= t 'errors.template.header.other', :model => Equipment.model_name.human, :count => @equipment.errors.count %></h3>
            </div>
            <div class="panel-body">
                <ul>
                    <% @equipment.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    <% end %>
    <div class="control-group">
        <%= f.label t '.name', :class => 'control-label' %>
        <div class="controls">
            <%= f.text_field :name, :class => 'form-control' %>
        </div>
        <%= error_span(@equipment[:name]) %>
    </div>

    <div class="row">
        <div class="col-md-10">
            <div class="control-group">
                <%= f.label t '.description', :class => 'control-label' %>
                <div class="controls">
                    <%= f.text_field :description, :class => 'form-control' %>
                </div>
                <%= error_span(@equipment[:description]) %>
            </div>
        </div>
        <div class="col-md-2">
            <div class="control-group">
                <%= f.label t '.room', :class => 'control-label' %>
                <div class="controls">
                    <%= f.collection_select(:room_id, Room.order(:name), :id, :name, {include_blank: '- Select Room -'}) %>
                </div>
                <%= error_span(@equipment[:room_id]) %>
            </div>
        </div>
    </div>

    <div class="control-group">
        <%= f.label t '.category', :class => 'control-label' %>
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" 
          title='<%= t '.category_tooltip' %>'>
        </span>
        <div class="controls">
            <%= f.text_field :category, :autocomplete => :off, :class => 'form-control' %>
        </div>
        <%= error_span(@equipment[:category]) %>
    </div>
    <br />
    <button type="submit" class="btn btn-primary" title="<%= t("helpers.links.save_changes") %>">
        <span class="glyphicon glyphicon-floppy-disk"></span>
    </button>
    <%= link_to equipment_index_path, :title => t("helpers.links.cancel"), :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-remove"></span>    
    <% end %>
<% end %>
