<script>
  $(document).ready(function(){
    $("#equipment_room_id").multiselect({
      enableFiltering: true,
      maxHeight: 250 });
    $(".multiselect ").parent().css("width","100%");
    $(".multiselect ").css("width","100%");
  });
</script>

<%= form_for @equipment, :html => { :class => "form-horizontal equipment" } do |f| %>

    <% if @equipment.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title"><%= t 'errors.template.header.other', :model => Equipment.model_name.human, :count => @equipment.errors.count %></h3>
            </div>
            <div class="panel-body">
                <ul>
                    <% @equipment.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    <% end %>
    <div class="control-group">
        <%= f.label t '.name', :class => 'control-label' %>
        <div class="controls">
            <%= f.text_field :name, :class => 'form-control' %>
        </div>
        <%= error_span(@equipment[:name]) %>
    </div>

    <div class="row">
        <div class="col-md-10">
            <div class="control-group">
                <%= f.label t '.description', :class => 'control-label' %>
                <div class="controls">
                    <%= f.text_field :description, :class => 'form-control' %>
                </div>
                <%= error_span(@equipment[:description]) %>
            </div>
        </div>
        <div class="col-md-2">
            <div class="control-group">
                <%= f.label t '.room', :class => 'control-label' %>
                <div class="controls">
                    <%= f.collection_select(:room_id, Room.order(:name), :id, :name, {include_blank: '- Select Room -'}) %>
                </div>
                <%= error_span(@equipment[:room_id]) %>
            </div>
        </div>
    </div>

    <div class="control-group">
        <%= f.label t '.category', :class => 'control-label' %>
        <div class="controls">
            <%= f.text_field :category, :class => 'form-control' %>
        </div>
        <%= error_span(@equipment[:category]) %>
    </div>
    <br />
    <%= f.submit t('.submit', :default => t("helpers.links.submit")),
                 :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                equipment_index_path, :class => 'btn btn-default' %>

<% end %>
