<div id="filterrific_results">
  <%= will_paginate @equipment, renderer: BootstrapPagination::Rails %>
  <div>
    <%= page_entries_info equipment %>
  </div>

<div class="table-responsive">
  <table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name 'name' %></th>
      <th><%= t '.description' %></th>
      <th><%= t '.room' %></th>
      <th><%= t '.category' %></th>
      <th class="text-right"><%= t '.action', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= link_to equipment.name, equipment_path(equipment) %></td>
        <td><%= trimDescription equipment.description %></td>
        
        <% if equipment.room_id? %>
          <td><%= Room.find(equipment.room_id).name %></td>
        <% else %>
          <td>-</td>
        <% end %>
        
        <td><%= equipment.category %></td>

        <td class="text-right">
          <% if can? :edit, equipment%>
            <%= link_to edit_equipment_path(equipment), :title => t("helpers.links.edit"), :class => 'btn btn-default btn-xs' do %>
              <span class="glyphicon glyphicon-pencil"></span>    
            <% end %>
          <% end %>   
            
           <% if can? :destroy, equipment %>  
            <%= link_to  equipment_path(equipment),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :title => t("helpers.links.destroy"), :class => 'btn btn-xs btn-danger' do %>
              <span class="glyphicon glyphicon-trash"></span>   
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
<%= will_paginate equipment, renderer: BootstrapPagination::Rails %>
</div>