<%- model_class = Equipment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:category) %></th>
      <th><%= model_class.human_attribute_name(:room_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <% if can? :destroy, Equipment %>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= link_to equipment.id, equipment_path(equipment) %></td>
        <td><%= equipment.name %></td>
        <td><%= equipment.description %></td>
        <td><%= equipment.category %></td>
        <td><%= equipment.room_id %></td>
        <td><%=l equipment.created_at %></td>
        <td>
          <% if can? :edit, Equipment %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_equipment_path(equipment), :class => 'btn btn-default btn-xs' %>
          <% end %>

          <% if can? :destroy, Equipment %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      equipment_path(equipment),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :new, Equipment %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_equipment_path,
            :class => 'btn btn-primary' %>
<% end %>