<%- model_class = Equipment -%>
<% page_header = t '.title', :default => model_class.model_name.human.pluralize.titleize %>
<% title page_header %>
<div class="page-header">
  <h1><%= page_header %></h1>
</div>

<%= form_for @filterrific do |f| %>
<div class="row">
  <div class="col-md-4">
    <div class="chardin_box">
          <%= t '.search_name' %>
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <%= f.text_field(
            :equipment_name,
            :placeholder => "Search for name",
            class: 'filterrific-periodically-observed form-control'
          ) %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="chardin_box">
          <%= t '.search_category' %>
          <%= f.select(:category, controller.getCategories, {include_blank: '- Alle Kategorien -'}, {class: 'form-control'}) %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="chardin_box">
          <%= t '.search_room' %>
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <%= f.text_field(
            :rooms,
            :placeholder => "All Rooms",
            class: 'filterrific-periodically-observed form-control'
          ) %>

    </div>
  </div>
</div>
<% end %>

<%= render(partial: 'equipment/list', locals: { equipment: @equipment,  model_class:  model_class }) %>

<% if can? :new, Equipment %>
  <%= link_to new_equipment_path, :title => t("helpers.links.new"), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
  <% end %>          
<% end %>