<%- model_class = Equipment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= form_for @filterrific do |f| %>
<div class="row">
  <div class="col-md-4">
    <div class="chardin_box">
          <%= t '.search' %>
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <%= f.text_field(
            :equipment_name,
            :placeholder => "Search for name",
            class: 'filterrific-periodically-observed form-control'
          ) %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="chardin_box">
          <%= t '.search' %>
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <%= f.text_field(
            :equipment_name,
            :placeholder => "Search for name",
            class: 'filterrific-periodically-observed form-control'
          ) %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="chardin_box">
          <%= t '.search' %>
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <%= f.text_field(
            :search_for_name,
            :placeholder => "All Rooms",
            class: 'filterrific-periodically-observed form-control'
          ) %>
    </div>
  </div>
</div>
<% end %>


<%= render(partial: 'equipment/list', locals: { equipment: @equipment,  model_class:  model_class }) %>

<% if can? :new, Equipment %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_equipment_path,
            :class => 'btn btn-primary' %>
<% end %>