<%- model_class = Equipment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @equipment.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @equipment.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:room_id) %>:</strong></dt>
  <dd><%= @equipment.room_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              equipment_index_path, :class => 'btn btn-default'  %>

<% if can? :edit, Equipment %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_equipment_path(@equipment), :class => 'btn btn-default' %>

<% end %>
<% if can? :destroy, Equipment %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              equipment_path(@equipment),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<% end %>