<%= form_for @booking, :html => { :class => "form-horizontal booking" } do |f| %>

    <% if @booking.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t 'errors.template.header.other', :model => Booking.model_name.human, :count => @booking.errors.count %></h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @booking.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@booking[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@booking[:description]) %>
  </div>
  <div class="control-group">
    <%= f.label :start, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start, :class => 'form-control' %>
    </div>
    <%= error_span(@booking[:start]) %>
  </div>
  <div class="control-group">
    <%= f.label :end, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :end, :class => 'form-control' %>
    </div>
    <%= error_span(@booking[:end]) %>
  </div>
  <div class="control-group">
    <%= f.label :event_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :event_id, :class => 'form-control' %>
    </div>
    <%= error_span(@booking[:event_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :room_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :room_id, :class => 'form-control' %>
    </div>
    <%= error_span(@booking[:room_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            bookings_path, :class => 'btn btn-default' %>

<% end %>
