<%= form_for @group, :html => { :class => "event" } do |f| %>

    <% if @group.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t 'errors.template.header.other', :model => Group.model_name.human, :count => @group.errors.count %></h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @group.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label' %>
    <%= f.text_field :name, :class => 'form-control' %>
    <%= error_span(@group[:name]) %>
  </div>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <% if @group.id != nil %>
    <%= link_to t('.back', :default => t("helpers.links.back")),
              group_path(@group), :class => 'btn btn-default' %>
  <% else %>
    <%= link_to t('.back', :default => t("helpers.links.back")),
              groups_path, :class => 'btn btn-default' %>
  <% end %>

<% end %>
