<div class="table-responsive">

    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= User.human_attribute_name(:name) %></th>
      <% if params[:action] == "edit" %>
        <% if can? :degrade_user, @group or can? :assign_user, @group %>
          <th class="two-column text-right"><%= t("groups.edit.actions")%></th>
        <% end %>
      <% end %>
        </tr>
      </thead>

      <tbody>
        <% (@leaders + @members).each do |user| %>
          <% is_leader = @leaders.include?(user) %>
          <tr>
            <td>
             <%= link_to user.username, user_path(user) %>
             <% if is_leader %>
              &nbsp &nbsp
              <span class="label label-primary"><%=t '.leader', :default => t("groups.show.leader") %></span>
             <% end %>
            </td>
            <% if params[:action] == "edit" %>
              <td class="text-right">
                <% unless is_leader %>
                  <%= link_to unassign_user_group_path(@group, user), :title => t("groups.edit.unassign"), :class => 'btn btn-default btn-xs' do %>
                      <span class="glyphicon glyphicon-trash"></span>    
                  <% end %>
                  <% if can? :promote_user, @group %>
                    <%= link_to t('.promote', :default => t("groups.edit.promote")), promote_user_group_path(@group, user), :class => 'btn btn-default btn-xs' %>
                  <% end %>
                <% else %>
                  <% if can? :degrade_user, @group %>
                    <%= link_to t('.degrade', :default => t("groups.edit.degrade")), degrade_user_group_path(@group, user), :class => 'btn btn-default btn-xs' %>
                  <% end %>
                <% end %>
             </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>