<div class="table-responsive">

    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= User.human_attribute_name(:email) %></th>
      <% if params[:action] == "edit" %>
        <% if can? :degrade_user, @group or can? :assign_user, @group %>
          <th class="two-column"><%= t("groups.edit.actions")%></th>
        <% end %>
      <% end %>
        </tr>
      </thead>

      <tbody>
    <% @members.each do |user| %>
          <% if @group.users.include?(user) %>
            <tr>
              <td><%= user.email %></td>
              <% if params[:action] == "edit" %>
            <td><%= link_to t('.unassign', :default => t("groups.edit.unassign")), unassign_user_group_path(@group, user), :class => 'btn btn-default btn-xs' %>
            <% if can? :promote_user, @group %>
              <%= link_to t('.promote', :default => t("groups.edit.promote")), promote_user_group_path(@group, user), :class => 'btn btn-default btn-xs' %>
            <% end %>
            </td>
          <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
</div>