<%- model_class = Group -%>
<% page_header = t '.title', :default => [:'helpers.titles.edit'], :model => model_class.model_name.human.titleize %>
<% title page_header %>

<div class="page-header">
  <h1><%= page_header %>:&nbsp <%=@group.name%></h1>
</div>
<br>
<h2><%=t '.user_overview', :default => t("groups.edit.user_overview") %></h2>


<% if @members.count > 0 || @leaders.count > 0%>
	<%= render :partial => 'users' %>
<% end %>


<h2><%=t '.assign_user', :default => t("groups.edit.assign_user") %></h2>

<%= form_for @group, :html => { :id => "add-user" }, :url => assign_user_group_path(@group) do |f| %>
  <div class="form-group">
  	<%= f.label User.human_attribute_name(:email), :class => 'control-label' %>
  	<p>
  	  <input type="text", name="email", id="task_identity_display", class="form-control", data-autocomplete-url="<%= autocomplete_group_path %>" value="">
  	</p>
  </div>
  <%= f.submit t("groups.edit.assign_user"), :class => 'btn btn-primary' %>
<% end %>


<h2><%=t '.rename', :default => t("groups.edit.rename") %></h2>
<% if can? :update, @group %>
  <%= render :partial => 'form' %>
<% else%>
  <%= link_to t('.back', :default => t("groups.edit.back")), group_path(@group), :class => 'btn btn-default' %>
<% end %>