<%- model_class = Group -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<h3><%=t '.user_overview', :default => t("groups.edit.user_overview") %></h3>

<%= form_for @group, :html => { :class => "form-horizontal event" }, :url => assign_user_group_path(@group) do |f| %>
  <%= f.label User.human_attribute_name(:email), :class => 'control-label' %>
  <%= text_field User, :email, :class => 'form-control' %>
  <%= f.submit "Add User", :class => 'btn btn-primary' %>
<% end %>

<%= render :partial => 'users' %>

<%= render :partial => 'form' %>
