<%- model_class = Group -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<h3><%=t '.user_overview', :default => t("groups.edit.user_overview") %></h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:identity_url) %></th>
      <th><%=t '.status', :default => t("helpers.status") %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @leaders.each do |user| %>
      <tr>
        <td><%= user.identity_url %></td>
        <td><span class="label label-primary"><%=t '.leader', :default => t("groups.show.leader") %></span></td>
        <td>
        <% if can? :degrade_user, @group %>
          <%= link_to t('.unassign', :default => t("groups.edit.unassign")), unassign_user_group_path(@group, user), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.degrade', :default => t("groups.edit.degrade")), degrade_user_group_path(@group, user), :class => 'btn btn-primary btn-xs' %>
        <% end %>
        </td>
      </tr>
    <% end %>
    <% @members.each do |user| %>
      <tr>
        <td><%= user.identity_url %></td>
        <td><span class="label label-default"><%=t '.member', :default => t("groups.show.member") %></span></td>
        <td><%= link_to t('.unassign', :default => t("groups.edit.unassign")), unassign_user_group_path(@group, user), :class => 'btn btn-default btn-xs' %>
        <% if can? :promote_user, @group %>
          <%= link_to t('.promote', :default => t("groups.edit.promote")), promote_user_group_path(@group, user), :class => 'btn btn-default btn-xs' %></td>
        <% end %>
      </tr>
    <% end %>
    <% @nonmembers.each do |user| %>
      <tr>
        <td><%= user.identity_url %></td>
        <td> </td>
        <td><%= link_to 'zuweisen', assign_user_group_path(@group, user), :class => 'btn btn-default btn-xs' %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if can? :update, @group %>
  <%= render :partial => 'form' %>
<% else%>
    <%= link_to t('.back', :default => t("groups.edit.back")), group_path(@group), :class => 'btn btn-default' %>
<% end %>