<%- model_class = Group -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<h3><%=t '.user_overview', :default => t("groups.edit.user_overview") %></h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:identity_url) %></th>
      <th><%=t '.status', :default => t("helpers.status") %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.identity_url %></td>
        <td>
          <% if @group.users.include? user %>
            <%=t '.assigned', :default => t("groups.edit.assigned") %>
          <% else %>
            <%=t '.unassigned', :default => t("groups.edit.unassigned") %>
          <% end %>
        </td>
        <td>
          <% if @group.users.include? user %>
            <%= link_to 'entfernen', unassign_user_group_path(@group, user), :class => 'btn btn-default btn-xs' %>
            <% if user.is_leader_of_group(@group.id) %>
              <%= link_to t('.degrade', :default => t("groups.edit.degrade")), degrade_user_group_path(@group, user), :class => 'btn btn-default btn-xs' %>
            <% else %>
              <%= link_to t('.promote', :default => t("groups.edit.promote")), promote_user_group_path(@group, user), :class => 'btn btn-default btn-xs' %>
            <% end %>
          <% else %>
            <%= link_to 'zuweisen', assign_user_group_path(@group, user), :class => 'btn btn-default btn-xs' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render :partial => 'form' %>
