<%- model_class = Group -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<h3><%=t '.user_overview', :default => t("groups.edit.user_overview") %></h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:identity_url) %></th>
      <th><%=t '.status', :default => t("helpers.status") %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @leaders.each do |user| %>
      <tr>
        <td><%= user.identity_url %></td>
        <td><%=t '.assigned', :default => t("groups.edit.assigned") %></td>
        <td><%= link_to t('.unassign', :default => t("groups.edit.unassign")), unassign_user_group_path(@group, user), :class => 'btn btn-default btn-xs' %><%= link_to t('.degrade', :default => t("groups.edit.degrade")), degrade_user_group_path(@group, user), :class => 'btn btn-primary btn-xs' %></td>
      </tr>
    <% end %>
    <% @members.each do |user| %>
      <tr>
        <td><%= user.identity_url %></td>
        <td><%=t '.assigned', :default => t("groups.edit.assigned") %></td>
        <td><%= link_to t('.unassign', :default => t("groups.edit.unassign")), unassign_user_group_path(@group, user), :class => 'btn btn-default btn-xs' %><%= link_to t('.promote', :default => t("groups.edit.promote")), promote_user_group_path(@group, user), :class => 'btn btn-default btn-xs' %></td>
      </tr>
    <% end %>
    <% @nonmembers.each do |user| %>
      <tr>
        <td><%= user.identity_url %></td>
        <td><%=t '.unassigned', :default => t("groups.edit.unassigned") %></td>
        <td><%= link_to 'zuweisen', assign_user_group_path(@group, user), :class => 'btn btn-default btn-xs' %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render :partial => 'form' %>
