<%- model_class = Group -%>
<% page_header = t '.title', :default => model_class.model_name.human.pluralize.titleize %>
<% title page_header %>
<div class="page-header">
  <h1><%= page_header %></h1>
</div>
<%= form_for @filterrific do |f| %>
<div class="chardin_box">
          <%= t '.search_name' %>
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <%= f.text_field(
            :search_name,
            :placeholder => (t '.search_for_name'),
            class: 'filterrific-periodically-observed form-control'
          ) %>
    </div>
<% end %>
<%= render(partial: 'groups/list', locals: { groups: @groups,  model_class:  model_class }) %>

<br>
<% if can? :create, Group %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_group_path,
            :class => 'btn btn-primary' %>
<% end %>
