<%- model_class = Group -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <% if can? :destroy, Group %>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td><%= link_to group.name, group_path(group) %></td>
            <% if can? :destroy, group %>
              <td>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          group_path(group),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-xs btn-danger' %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

<br>
<% if can? :create, Group %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_group_path,
            :class => 'btn btn-primary' %>
<% end %>
