<% title t("groups.manage_rooms.currentRoomsOfGroup", :group => @group.name) %>
<h1><%= @group.name %></h1>	
<h1><small><%= t("groups.manage_rooms.currentRooms") %></small></h1> <br>

    <table class="table table-striped">
    <% if @group.rooms %>
	     <thead>
	        <tr>
	          <th>Raum</th>
	        </tr>
	    </thead>
	<% end %>
	    <tbody>
			<% if @group.rooms.each do |room| %>
			<tr>
				<td><%= room.name %>  <%= link_to t('.delete', :default => t("groups.manage_rooms.delete")), unassign_room_group_path(@group,room)%> </td>
			</tr>
			<% end.empty? %>
				<p>Keine Räume zugewiesen </p>
			<% end %>
	    </tbody>
	</table>
<br>
<h2><%= t("groups.manage_rooms.addRoom") %></h2><br/>
<%= form_for @group, html: { :class => "form-horizontal event", :id => "assign-rooms-form" }, :url => assign_rooms_group_path(@group) do |f| %>

  <div class="control-group">
    <div class="controls">
    	<%= f.select :room_ids, options_from_collection_for_select(@unassigned_rooms, :id, :name), {}, {:class=> 'selectpicker', :id => 'selectpicker', :multiple =>'' }%>
    </div>
    <script>
    $('#selectpicker').selectpicker();
    </script>
  </div>
<br>
<button type="submit" class="btn btn-primary" title="<%= t("helpers.links.save_changes") %>">
  	<span class="glyphicon glyphicon-floppy-disk"></span>
</button>
<%= link_to group_path(@group), :title => t("helpers.links.back"), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>    
<% end %>
<% end %>
