<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<%= link_to 'Bearbeiten', edit_group_path(@group) %> |
<%= link_to 'Räume zuweisen', manage_rooms_group_path(@group) 
#TODO Authenticate admin
%> | 
<%= link_to 'Zurück', groups_path %>
