<%- model_class = Group -%>
<% title @group.name %>
<div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.titleize %>:&nbsp<%=@group.name%></h1>
</div>


<% if @leaders.count > 0 || @members.count > 0%>
    <h3><%=t '.user_overview', :default => t('groups.show.user_overview') %></h3>
    <%= render :partial => 'users' %>
<% else %>
    <p></p><%=t '.no_users', :default => t('groups.show.no_users') %></p>
<% end %>


<%= link_to groups_path, :title => t("helpers.links.back"), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>    
<% end %>
<% if can? :edit, @group %>
    <%= link_to edit_group_path(@group), :title => t("helpers.links.edit"), :class => 'btn btn-default' do %>
    	<span class="glyphicon glyphicon-pencil"></span>    
	<% end %>
<% end %>
<% if can? :manage_rooms, @group %>
    <%= link_to t('.assign_room', :default => t('groups.show.assign_rooms')),
                manage_rooms_group_path(@group), :class => 'btn btn-default' %>
<% end %>
