<%= form_for @user, :html => { :class => "form-horizontal user" } do |f| %>

  <link href="bootstrap-switch.min.css" rel="stylesheet">
  <script src="bootstrap-switch.min.js"></script>
  <script>
    $(function() {
      $(".bootstrap-switch").bootstrapSwitch();
    });
  </script>
  
  <% if @user.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t 'errors.template.header.other', :model => User.model_name.human, :count => @user.errors.count %></h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  
  <% if @user.firstlogin %>
        <p>Bitte füllen sie die folgenden Felder aus, wenn sie Angaben tätigen wollen. Alle Angaben sind optional. <br>Please fill in the following information if you want to, all information is optional.</p>
        <% @user.firstlogin = false %>
        <% @user.save %>
        <%= link_to 'skip', root_path, class: "btn btn-primary" %>
  <% end %>

  <div class="control-group">
    <%= f.label :email_notification, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :email_notification, :class => 'bootstrap-switch' %>
  </div>
    <%= error_span(@user[:email_notification]) %>
  </div>

  <div class="control-group">
    <%= f.label :fullname, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :fullname, :class => 'form-control' %>
  </div>
    <%= error_span(@user[:fullname]) %>
  </div>

  <div class="control-group">
    <%= f.label :office_location, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :office_location, :class => 'form-control' %>
  </div>
    <%= error_span(@user[:office_location]) %>
  </div>

  <div class="control-group">
    <%= f.label :office_phone, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :office_phone, :class => 'form-control' %>
  </div>
    <%= error_span(@user[:office_phone]) %>
  </div>

  <div class="control-group">
    <%= f.label :mobile_phone, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :mobile_phone, :class => 'form-control' %>
  </div>
    <%= error_span(@user[:mobile_phone]) %>
  </div>

  <div class="control-group">
    <%= f.label :language, :class => 'control-label' %>
  <div class="controls">
    <%= f.select :language, %w[German English], {}, { :class => 'form-control' } %>
  </div>
    <%= error_span(@user[:language]) %>
  </div>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            user_path(@user), :class => 'btn btn-default' %>

<% end %>