<%- model_class = User -%>
<% page_header = @user.display_name %>
<% title page_header %>
<div class="page-header">
  <h1><%= page_header %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:fullname) %>:</strong></dt>
  <dd><%= @user.fullname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:office_location) %>:</strong></dt>
  <dd><%= @user.office_location %></dd>
  <dt><strong><%= model_class.human_attribute_name(:office_phone) %>:</strong></dt>
  <dd><%= @user.office_phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mobile_phone) %>:</strong></dt>
  <dd><%= @user.mobile_phone %></dd>
</dl>

<% if can? :edit, @user %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_path(@user), :class => 'btn btn-default' %>
<% end %>