<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @attachment.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @attachment.url %>
</p>

<p>
  <strong>Task:</strong>
  <%= @attachment.task %>
</p>

<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
