<% if @chosen_rooms %>
  <div class="row">
      <%= label_tag "Requestable Equipment: ", nil, :class => 'control-label' %>
  </div>
  <table class="table table-column">
  <thead>
    <tr>
      <th>Category</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <% @available_equipment.each do |category, count| %>
                <tr>
                    <td><%= category%></td>
                    <td><%= count %></td>
                </tr>
    <% end %>
  </tbody>
  </table>

  <%for room in @chosen_rooms%>
    <div class="row">
      <%= label_tag room.name, nil, :class => 'control-label' %>
    </div>
    <div class="row">
      <%= label_tag "Capacity: ", nil, :class => 'control-label' %>
      <%= label_tag room.size, nil, :class => 'control-label' %>
    </div>
    <div class="control-group">
        <table class="table table-column">
            <thead>
              <tr>
                <th>Category</th>
                <th>Request</th>
                <th>Present</th>
              </tr>
            </thead>
            <tbody>
              <% @available_equipment.each do |category, count| %>
                <tr>
                  <td><%= category%></td>
                  <% existing_count = 0 %>
                  <% if @room_equipment[room.id].has_key?(category) %>
                    <% existing_count = @available_equipment[category] %>
                    <td><%= number_field_tag category+'_equipment_count_'+room.id.to_s, 0, min: 0 %></td>
                    <td><%= count %></td>
                  <% else %>
                    <td><%= number_field_tag category+'_equipment_count_'+room.id.to_s, 0, min: 0 %></td>
                    <td>0</td>
                  <% end %> 
                </tr>
              <% end %>   
            </tbody>
      </table>
    </div>
    <br>  
  <% end %>
<% end %>