<div class="event-page-header">
  <div class="row event-section-divider">
    <div class="col-xs-12 col-md-8">
      <h1>
        <%= @event.name %>
        <% if current_user.id != @event.user_id %>
          <%= link_to show_toggle_favorite_from_event_path(@event), :remote => true, id: "btn_mark_as_favorite", 
                class: "event-favorite-icon " + (@favorite.empty? ? "event-favorite-icon-unchecked" : "event-favorite-icon-checked"),
                data: { title_unmark: t('events.show.unmark_as_favorite'), title_mark: t('events.show.mark_as_favorite') } do %>
            <span class="glyphicon glyphicon-star" ></span>
          <% end %>
        <% end %>
      </h1>
    </div>
    <div class="col-xs-6 col-md-4" style="text-align: right">
      <% if (@event.ends_at.to_date - @event.starts_at.to_date).to_i > 0 %>
        <h2><%= @event.starts_at.strftime("%d.%m.%Y") %> - <%= @event.ends_at.strftime("%d.%m.%Y")%></h2>
      <% else %>
        <h2><%= @event.starts_at.strftime("%d.%m.%Y")%></h2>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <% if (@event.ends_at.to_date - @event.starts_at.to_date).to_i > 0 %>
        <h3><%= @event.starts_at.strftime("%H:%M") %> Uhr, <%= @event.starts_at.strftime("%d.%m.%Y") %> - <%= @event.ends_at.strftime("%H:%M") %> Uhr, <%= @event.ends_at.strftime("%d.%m.%Y")%></h3>
      <% else %>
        <h3><%= @event.starts_at.strftime("%H:%M") %> Uhr - <%= @event.ends_at.strftime("%H:%M") %> Uhr</h3>
      <% end %>
    </div>
    <div class="col-xs-6 col-md-4" style="text-align: right">
      <h3><%= concat_rooms(@event) %></h3>
    </div>
  </div>
</div>

<div class="event-overview-table">
  <table class="table table-striped">
    <tbody>
      <tr>
        <td><%= t('events.show.schedule') %></td>
        <td><%= @event.pretty_schedule %></td>
      </tr>
      <tr>
        <td><%= t('events.show.creator') %></td>
        <td>
          <% unless @user.nil? %>
            <%= link_to @user.display_name, user_path(@user) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><%= t('events.show.participant_count') %></td>
        <td><%= @event.participant_count %></td>
      </tr>
      <tr>
        <td><%= t('events.show.last_update') %></td>
        <td><%= @event.updated_at.strftime("%d.%m.%Y %H:%M") %></td>
      </tr>
      <% if current_user.id == @event.user_id %>
        <tr>
          <td><%= t('events.show.status') %></td>
          <td><%= t "event.status.#{@event.status}" %></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <% if (@event.is_approved) && (@event.exist_colliding_events) %>
              <%= link_to t('.decline', :default => t("helpers.links.decline")), decline_event_path(@event), :method => :decline, :class => 'btn btn-danger decline-btn btn-xs' %>
            <%end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="event-description">
  <%= raw nl2br h @event.description %>
</div>