<% starts_at = @event.starts_at %>
<% ends_at = @event.ends_at %>
<% if @event_occurrence %>
  <% starts_at = @event_occurrence.starts_occurring_at %>
  <% ends_at = @event_occurrence.ends_occurring_at %>
<% end %>
<div class="event-page-header">
  <div class="row event-section-divider">
    <div class="col-xs-12 col-md-8">
      <h1>
        <%= @event.name %>
        <% if current_user.id != @event.user_id %>
          <%= link_to show_toggle_favorite_from_event_path(@event), :remote => true, id: "btn_mark_as_favorite", 
                class: "event-favorite-icon " + (@favorite.empty? ? "event-favorite-icon-unchecked" : "event-favorite-icon-checked"), 
                data: { title_unmark: t('.unmark_as_favorite'), title_mark: t('.mark_as_favorite') } do %>
            <span class="glyphicon glyphicon-star" ></span>
          <% end %>
        <% end %>
      </h1>
    </div>
    <div class="col-xs-6 col-md-4" style="text-align: right">
      <% if (ends_at.to_date - starts_at.to_date).to_i > 0 %>
        <h2><%= starts_at.strftime("%d.%m.%Y") %> - <%= ends_at.strftime("%d.%m.%Y")%></h2>
      <% else %>
        <h2><%= starts_at.strftime("%d.%m.%Y")%></h2>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <% if (ends_at.to_date - starts_at.to_date).to_i > 0 %>
        <h3><%= starts_at.strftime("%H:%M") %> Uhr, <%= starts_at.strftime("%d.%m.%Y") %> - <%= ends_at.strftime("%H:%M") %> Uhr, <%= ends_at.strftime("%d.%m.%Y")%></h3>
      <% else %>
        <h3><%= starts_at.strftime("%H:%M") %> Uhr - <%= ends_at.strftime("%H:%M") %> Uhr</h3>
      <% end %>
    </div>
    <div class="col-xs-6 col-md-4" style="text-align: right">
      <h3><%= concat_rooms(@event) %></h3>
    </div>
  </div>
</div>

<div class="event-overview-table">
  <table class="table table-striped">
    <tbody>
      <tr>
        <td><%= t('events.show.schedule') %></td>
        <td><%= @event.pretty_schedule %></td>
      </tr>
      <tr>
        <td><%= t('events.show.creator') %></td>
        <td><%= @user %></td>
      </tr>
      <tr>
        <td><%= t('events.show.participant_count') %></td>
        <td><%= @event.participant_count %></td>
      </tr>
      <tr>
        <td><%= t('events.show.last_update') %></td>
        <td><%= @event.updated_at.strftime("%d.%m.%Y %H:%M") %></td>
      </tr>
      <% if @event_occurrence %>
        <tr>
          <td><%= t('events.show.belongs_to_series') %></td>
          <td><%= link_to(@event_occurrence.event.name, @event_occurrence.event) %></td>
        </tr>
      <% end %>
      <% if current_user.id == @event.user_id %>
        <tr>
          <td><%= t('events.show.status') %></td>
          <td><%= t "event.status.#{@event.status}" %></td>
        </tr>
        <% if (@event.is_approved) && (@event.exist_colliding_events) %>
          <tr>
            <td>
              <%= link_to t('.decline', :default => t("helpers.links.decline")), decline_event_path(@event), :method => :decline, :class => 'btn btn-danger decline-btn btn-xs' %>
            </td>
          </tr>
        <%end%>
      <% end %>
    </tbody>
  </table>
</div>
<div class="event-description">
  <%= raw nl2br h @event.description %>
</div>