<%= form_for @event, :html => { :class => "form-horizontal event", :id => "event-form" } do |f| %>

    <% if @event.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t 'errors.template.header.other', :model => Event.model_name.human, :count => @event.errors.count %></h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label model_class.human_attribute_name(:name), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control', :maxlength=>"254" %>
    </div>
    <%= error_span(@event[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label model_class.human_attribute_name(:description), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'form-control' %>
    </div>
    <%= error_span(@event[:description]) %>
  </div>
  <%= render :partial => 'events/rooms', locals: {model_class: model_class} %>
  <div class="control-group">
    <%= f.label model_class.human_attribute_name(:rooms), :class => 'control-label' %>
    <div class="controls">
      <%= f.select :room_ids, options_from_collection_for_select(Room.all, :id, :name, selected:@event.rooms.map(&:id)), {}, {:class=> 'selectpicker', :id => 'selectpicker', :multiple =>'' }%>
    </div>
    <script>
    $('#selectpicker').selectpicker();
    </script>
    <%= error_span(@event[:rooms]) %>
  </div>
  <div class="control-group">
    <%= f.label model_class.human_attribute_name(:participant_count), :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :participant_count, :class => 'form-control' %>
    </div>
    <%= error_span(@event[:participant_count]) %>
  </div>
  <div class="control-group">
    <%= f.label model_class.human_attribute_name(:starts_at), :class => 'control-label' %>
    <div class="row">
      <div class="controls col-sm-6">
        <%= f.date_field :starts_at_date, :class => 'form-control' %>
         <%= error_span(@event[:starts_at_date]) %>
      </div>
      <div class="controls col-sm-6">
        <%= f.time_field :starts_at_time, :class => 'form-control', value: @event.starts_at_time.strftime('%H:%M') %>
        <%= error_span(@event[:starts_at_time]) %>
      </div>
    </div>
    
  </div>
 <div class="control-group">
    <%= f.label model_class.human_attribute_name(:ends_at) , :class => 'control-label' %>
    <div class="row">
      <div class="controls col-sm-6">
        <%= f.date_field :ends_at_date, :class => 'form-control' %>
        <%= error_span(@event[:ends_at_date]) %>
      </div>
      <div class="controls col-sm-6">
        <%= f.time_field :ends_at_time, :class => 'form-control', value: @event.ends_at_time.strftime('%H:%M') %>
        <%= error_span(@event[:ends_at_time]) %>
      </div>
    </div>
     
  </div>
  <div class="control-group">

    <div class="row">
      <div class="controls col-sm-6">
      <%= f.label model_class.human_attribute_name(:private), :class => 'control-label' %>
      <%= f.check_box :is_private %>
      </div>
      <div class="controls col-sm-6">
      <%= f.label model_class.human_attribute_name(:Important), :class => 'control-label' %>
      <%= f.check_box :is_important %>
      </div>
   </div>
  </div>
  <% unless @event_template_id.nil? %> 
     <%= f.hidden_field :event_template_id, :value => @event_template_id, :readonly => true%>
  <% end %>
 <div class="notice"></div> <!-- display conflicting events -->


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            events_path, :class => 'btn btn-default' %>

<% end %>
