<%= form_for @event, :html => { :class => "form-horizontal event", :id => "event-form" } do |f| %>

    <% if @event.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t 'errors.template.header.other', :model => Event.model_name.human, :count => @event.errors.count %></h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label model_class.human_attribute_name(:name), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control', :maxlength=>"254" %>
    </div>
    <%= error_span(@event[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label model_class.human_attribute_name(:description), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'form-control' %>
    </div>
    <%= error_span(@event[:description]) %>
  </div>
  <div class="row well">
    <div class="event-section-divider"><h3>Room Selection</h3></div>
    <br/>
    <div class="col-xs-4 col-md-4 room_input">
    <%= render :partial => 'events/rooms', locals: {model_class: model_class} %>
    </div>
    <div class="row col-xs-6 col-md-6 col-xs-offset-2 col-md-offset-2">
      <div class="control-group">
        <h4><%= f.label model_class.human_attribute_name(:rooms), :class => 'control-label' %></h4>
        <div class="controls">
          <%= f.select :room_ids, options_from_collection_for_select(Room.all, :id, :name, selected: @event.room_ids), {}, {:id => 'selectpicker', :multiple =>'' }%>
        </div>
      <%= error_span(@event[:rooms]) %>
      </div>
    </div>
  </div>
  <div class="control-group">
    <%= f.label model_class.human_attribute_name(:participant_count), :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :participant_count, :class => 'form-control' %>
    </div>
    <%= error_span(@event[:participant_count]) %>
  </div>
  <div class="control-group">
    <%= f.label model_class.human_attribute_name(:starts_at), :class => 'control-label' %>
    <div class="row">
      <div class="controls col-sm-6" id="startDate">
        <%= f.text_field :starts_at_date, {:class => 'form-control', :value => @event.starts_at_date.strftime("%d/%m/%Y")}%>
        <script type="text/javascript">
          $('#startDate').datetimepicker({
            format: 'DD/MM/YYYY',
            pickTime: false
          });
        </script>
         <%= error_span(@event[:starts_at_date]) %>
      </div>
      <div class="controls col-sm-6" id="startTime">
        <%= f.time_field :starts_at_time, {:class => 'form-control', :value => @event.starts_at_time.strftime('%H:%M')}%>
        <script type="text/javascript">
          $('#startTime').datetimepicker({
            format: 'HH:mm',
            pickDate: false         
          });
        </script>
        <%= error_span(@event[:starts_at_time]) %>
      </div>
    </div>
    
  </div>
 <div class="control-group">
    <%= f.label model_class.human_attribute_name(:ends_at) , :class => 'control-label' %>
    <div class="row">
      <div class="controls col-sm-6" id="endDate">
        <%= f.text_field :ends_at_date, {:class => 'form-control', :value => @event.ends_at_date.strftime("%d/%m/%Y") }%>
        <script type="text/javascript">
          $('#endDate').datetimepicker({
            format: 'DD/MM/YYYY',
            pickTime: false
          });
        </script>
        <%= error_span(@event[:ends_at_date]) %>
      </div>
      <div class="controls col-sm-6" id="endTime">
        <%= f.text_field :ends_at_time, {:class => 'form-control', :value => @event.ends_at_time.strftime('%H:%M')}%>
        <script type="text/javascript">
          $('#endTime').datetimepicker({
            format: 'HH:mm',
            pickDate: false         
          });
        </script>
        <%= error_span(@event[:ends_at_time]) %>
      </div>
    </div>
     
  </div>
  <div class="control-group">
    <%= f.label model_class.human_attribute_name(:schedule), :class => 'control-label' %>
    <div class="controls">
      <%= f.select_recurring :occurence_rule, nil, :allow_blank => true %>
      <%= error_span(@event[:schedule]) %>
    </div>
  </div>
  <div class="control-group end-date-group">
    <%= f.label t('events.form.series_end'), :class => 'control-label' %>
    <div class="row">
      <div class="controls col-sm-6">
        <%= f.text_field :schedule_ends_at_date, {:class => 'form-control', :id => 'ScheduleEndDatePicker', value: schedule_ends_at_date_not_nil(@event)}%>
        <script type="text/javascript">
          $('#ScheduleEndDatePicker').datetimepicker({
            language: '<%= I18n.locale %>',
            pickTime: false
          });
        </script>
        <%= error_span(@event[:schedule_ends_at_date]) %>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    (function() {

      var updateEndDateVisible = function() {
          if($('.recurring_select').val() === 'null'){
            $('.end-date-group').hide();
          } else {
            $('.end-date-group').show();
          }
      };

      $('.recurring_select').change(updateEndDateVisible);
      $(document).on('click','.rs_dialog', updateEndDateVisible);

      updateEndDateVisible();
    })();
  </script>
  <div class="control-group">
    <div class="row">
      <div class="controls col-sm-6">
      <%= f.label model_class.human_attribute_name(:private), :class => 'control-label' %>
      <%= f.check_box :is_private %>
      </div>
      <div class="controls col-sm-6">
      <%= f.label model_class.human_attribute_name(:Important), :class => 'control-label' %>
      <%= f.check_box :is_important %>
      </div>
   </div>
  </div>
  <% unless @event_template_id.nil? %> 
     <%= f.hidden_field :event_template_id, :value => @event_template_id, :readonly => true%>
  <% end %>
 <div class="notice"></div> <!-- display conflicting events -->


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.back', :default => t("helpers.links.back")),
            :back, :class => 'btn btn-default' %>

<% end %>
