<div id="filterrific_results">
  <%= will_paginate @events, renderer: BootstrapPagination::Rails %>
  <div>
    <%= page_entries_info events %>
  </div>

  <div class="table-responsive">
      <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name 'name' %></th>
          <th><%= model_class.human_attribute_name 'description' %></th>
          <th><%= model_class.human_attribute_name 'rooms' %></th>
          <th><%= model_class.human_attribute_name 'starts_at' %> /
              <%= model_class.human_attribute_name 'ends_at' %></th>
          <th><%= model_class.human_attribute_name 'status' %></th>
          <th><%= model_class.human_attribute_name 'user' %></th>
          <th><%= t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= link_to event.name, event_path(event) %></td>
            <td><%= trimDescription event.description %></td>
            <td><%= event.rooms.map(&:name).to_sentence %></td>
            <td><%=l event.starts_at if event.starts_at  %> / <br />
            <%=l event.ends_at if event.ends_at %></td>
            <td><%=t "event.status.#{event.status}" %></td>
                <td><%= link_to User.find(event.user_id).display_name, user_path(User.find(event.user_id)) %></td>
                <td>
            <% if event.event_id %>
              <%= render :partial => "event_suggestions/buttons", :locals => {:event => event} %>
            <% else %>
              <%= render :partial => "buttons", :locals => {:event => event} %>
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
      </table>
  </div>
  
<%= will_paginate events, renderer: BootstrapPagination::Rails %>
</div>
