<%- model_class = Event -%>
<% page_header = t '.title', :default => model_class.model_name.human.pluralize.titleize %>
<% title page_header %>

<script type="text/javascript">
  $(function() {
    $('.datetimepicker').datetimepicker({
      language: '<%= I18n.default_locale %>'
    });
  })
</script>

<div class="page-header">
  <h1><%= page_header %></h1>
</div>
<div class="well">
  <%= form_for @filterrific do |f| %>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <div class="chardin_box">
          <%= t '.search' %>
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <%= f.text_field(
            :search_query,
            :placeholder => Event.human_attribute_name(:search_for) + " " + Event.model_name.human.pluralize,
            class: 'filterrific-periodically-observed form-control'
          ) %>
       </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="chardin_box">
          <%= t '.only_show_own' %>
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <%= f.check_box :user %>
       </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="chardin_box">
          <%= t '.sorted_by' %>
          <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by], {}, {class: 'form-control'}) %>
          <%# See below for the Student.options_for_sorted_by presenter method %>
       </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="chardin_box">
          <%= t '.filtered_by_rooms' %>
          <%= f.select :room_ids, options_from_collection_for_select(Room.all, :id, :name, selected: @filterrific.room_ids) , {}, {:class=> 'selectpicker form-control', :multiple =>'' }%>
       </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
    <div class="form-group">
      <a class="btn btn-default" data-toggle="collapse" href="#advancedSearch"><span class="drop-down-chevron glyphicon glyphicon-chevron-right"></span> <%= t('.advanced_search')%></a>
    </div>
    </div>
  </div>
  <div id ="advancedSearch" class="collapse">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <div class="chardin_box">
          <%= t '.starts_after' %>
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <%= f.text_field(
            :starts_after,
            class: 'datetimepicker form-control'
          ) %>
       </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="chardin_box">
          <%= t '.ends_before' %>
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <%= f.text_field(
            :ends_before,
            class: 'datetimepicker form-control'
          ) %>
       </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="chardin_box">
          <%= t '.items_per_page' %>
          <%= f.select(:items_per_page, @filterrific.select_options[:items_per_page], {}, {class: 'form-control'}) %>
       </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <div class="chardin_box">
          <%= t '.participants_gte' %>
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <%= f.number_field(
            :participants_gte,
            class: 'form-control'
          ) %>
       </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="chardin_box">
          <%= t '.participants_lte' %>
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <%= f.number_field(
            :participants_lte,
            class: 'form-control'
          ) %>
       </div>
      </div>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= link_to( (t '.reset_filter'), reset_filterrific_events_path, :class => 'btn btn-default') %>
      <%= render_filterrific_spinner %>
    </div>
  </div>
  <% end %>
</div>

<%= render(partial: 'events/list', locals: { events: @events,  model_class:  model_class }) %>

<div class="clear"></div>
<%= link_to new_event_path, :title => t("helpers.links.new"), :class => 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-plus"></span>
<% end %>

