<%- model_class = Event -%>
<% title @event.name %>

<div class="event-page-header">
  <div class="row event-section-divider">
    <div class="col-xs-12 col-md-8">
      <h1>
        <%= @event.name %>
        <% if current_user.id != @event.user_id %>
          <% if @favorite.empty? %>
            <%= link_to show_toggle_favorite_from_event_path(@event), class: "event-favorite-icon-unchecked event-favorite-icon" do %>
              <span class="glyphicon glyphicon-star"></span>
            <% end %>
          <% else %>
            <%= link_to show_toggle_favorite_from_event_path(@event), class: "event-favorite-icon-checked event-favorite-icon" do %>
              <span class="glyphicon glyphicon-star"></span>
            <% end %>
          <% end %>
        <% end %>
      </h1>
    </div>
    <div class="col-xs-6 col-md-4" style="text-align: right">
      <% if (@event.ends_at.to_date - @event.starts_at.to_date).to_i > 0 %>
        <h2><%= @event.starts_at.strftime("%d.%m.%Y") %> - <%= @event.ends_at.strftime("%d.%m.%Y")%></h2>
      <% else %>
        <h2><%= @event.starts_at.strftime("%d.%m.%Y")%></h2>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <% if (@event.ends_at.to_date - @event.starts_at.to_date).to_i > 0 %>
        <h3><%= @event.starts_at.strftime("%H:%M") %> Uhr, <%= @event.starts_at.strftime("%d.%m.%Y") %> - <%= @event.ends_at.strftime("%H:%M") %> Uhr, <%= @event.ends_at.strftime("%d.%m.%Y")%></h3>
      <% else %>
        <h3><%= @event.starts_at.strftime("%H:%M") %> Uhr - <%= @event.ends_at.strftime("%H:%M") %> Uhr</h3>
      <% end %>
    </div>
    <div class="col-xs-6 col-md-4" style="text-align: right">
      <h3><%= concat_rooms(@event) %></h3>
    </div>
  </div>
</div>

<div class="event-overview-table">
  <table class="table table-striped">
    <tbody>
      <tr>
        <td><%= t('events.show.schedule') %></td>
        <td><%= @event.pretty_schedule %></td>
      </tr>
      <tr>
        <td><%= t('events.show.creator') %></td>
        <td><%= @user %></td>
      </tr>
      <tr>
        <td><%= t('events.show.participant_count') %></td>
        <td><%= @event.participant_count %></td>
      </tr>
      <tr>
        <td><%= t('events.show.last_update') %></td>
        <td><%= @event.updated_at.strftime("%d.%m.%Y %H:%M") %></td>
      </tr>
      <% if current_user.id == @event.user_id %>
        <tr>
          <td><%= t('events.show.status') %></td>
          <td><%= t "event.status.#{@event.status}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table> 
</div>
<div class="event-description">
  <%= raw nl2br h @event.description %>
</div>

<% if @event.tasks.include?(Task.where(user_id: current_user.id)) or current_user.id = @event.user_id %>
  <h3><%= t '.tasks' %></h3>
  <% @event_id = @event.id %>
  <%= render(partial: '/tasks/tasks_box', locals: { tasks: @tasks, event: @event })%> 
<% end %>

<% unless @feed_entries.nil? %>
<div class="event-view-section">
  <h3><%= t 'activities.activity_log' %></h3>

  <div class="feed-container">
    <div class="feed">
      <% @feed_entries.each_with_index do |feed_entry, index| %>
        <%= render :partial => 'feed_entry', :locals => { :feed_entry => feed_entry, :index => index } %>
      <% end %>
    </div>
  </div> 

  <div class="new-comment">
    <h4><%= t 'comments.new_comment' %></h4>

    <%= form_tag( { :action => "create_comment", :controller => "events", user_id: @current_user.id, event_id: @event.id}, { :method => :post }) do %>
      <%= text_area_tag "commentContent", "",  rows: 5, cols: 80, maxlength: 255 %>
      <div class="clearfix"></div>
      <%= submit_tag "Kommentieren", class: "btn btn-primary" %>
    <% end %>  
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-xs-4 col-md-3">
    <%= link_to t('.back', :default => t("helpers.links.back")), :back, :class => 'btn btn-default'  %>
  </div>
  <div class="col-xs-14 col-md-9 text-right">
    <%= link_to t('.create', :default => t("helpers.submit.create", :model => EventTemplate.model_name.human.titleize)),
                        new_event_template_from_event_path(@event), :class => 'btn btn-default' %>
    <% if can? :edit, @event %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_event_path(@event), :class => 'btn btn-default' %>
    <% end %>
    <% if can? :destroy, @event %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    event_path(@event),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger' %>
    <% end %>
  </div>
</div>
