<%- model_class = Event -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:id) %>:</strong></dt>
  <dd><%= @event.id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @event.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:beschreibung) %>:</strong></dt>
  <dd><%= @event.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:raum) %>:</strong></dt>
  <dd><%= @event.room_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:teilnehmeranzahl) %>:</strong></dt>
  <dd><%= @event.participant_count %></dd>
  <dt><strong><%= model_class.human_attribute_name(:privat) %>:</strong></dt>
  <dd><%= check_box_tag 'private', 'private', @event.is_private %></dd>
  <dt><strong><%= model_class.human_attribute_name(:startzeit) %>:</strong></dt>
  <dd><%= @event.start_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:endzeit) %>:</strong></dt>
  <dd><%= @event.end_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:erstellt_von) %>:</strong></dt>
  <dd><%= @event.user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:erstellt_am) %>:</strong></dt>
  <dd><%= @event.created_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:aktualisiert_am) %>:</strong></dt>
  <dd><%= @event.updated_at %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              events_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_event_path(@event), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              event_path(@event),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
