<%- model_class = Event -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:id) %>:</strong></dt><dd><%= @event.id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @event.name %></dd>
  <dt><strong><%= t('events.show.description') %>:</strong></dt>
  <dd><%= raw nl2br h @event.description %></dd>
  <dt><strong><%= t('events.show.rooms') %>:</strong></dt>
  <dd><%= concat_rooms(@event) %></dd>
  <dt><strong><%= t('events.show.participant_count') %>:</strong></dt>
  <dd><%= @event.participant_count %></dd>
  <dt><strong><%= t('events.show.private') %>:</strong></dt>
  <dd><%= check_box_tag 'private', 'private', @event.is_private, disabled: :disabled %></dd>
  <dt><strong><%= model_class.human_attribute_name(:important) %>:</strong></dt>
  <dd><%= check_box_tag 'important', 'important', @event.is_important, disabled: :disabled %></dd>
  <dt><strong><%= model_class.human_attribute_name(:starts_at) %>:</strong></dt>
  <% if @event.starts_at %>
    <dd><%= @event.starts_at.strftime("%d.%m.%Y - %H:%M") %></dd>
  <% end %>
  <dt><strong><%= t('events.show.ends_at') %>:</strong></dt>
  <% if  @event.ends_at%>
  <dd><%= @event.ends_at.strftime("%d.%m.%Y - %H:%M") %></dd>
  <% end %>
  <dt><strong><%= t('events.show.user') %>:</strong></dt>
  <dd><%= @user %></dd>
  <dt><strong><%= t('events.show.created_at') %>:</strong></dt>
  <dd><%= @event.created_at.strftime("%d.%m.%Y %T") %></dd>
  <dt><strong><%= t('events.show.updated_at') %>:</strong></dt>
  <dd><%= @event.updated_at.strftime("%d.%m.%Y %T") %></dd>
  <dt><strong><%= t('events.show.status') %>:</strong></dt>
  <dd><%= @event.status %></dd>

  <% if @event.event_id %> 
      <dt><strong><%= t('events.show.suggested_for') %>:</strong></dt>
      <dd><%= link_to get_name_of_original_event(@event), event_path(@event.event_id), :target => "_blank" %></dd>
  <% end %> 
  <dd>
    <% if @favorite.empty? %>
      <%= link_to t('.toogle', :default => t("helpers.links.add_favorite")),show_toggle_favorite_event_path(@event), :class => 'btn btn-xs btn-primary' %>
    <% else %>
      <%= link_to t('.toogle', :default => t("helpers.links.remove_favorite")),show_toggle_favorite_event_path(@event), :class => 'btn btn-xs btn-danger' %>
    <% end %> 
  </dd>
</dl>

<h4><%= t '.tasks' %></h4>
<% @event_id = @event.id %>
<%= render :partial => '/tasks/tasks_box' %>

<%= link_to t('.back', :default => t("helpers.links.back")), @return_url.nil? ? events_path : @return_url, :class => 'btn btn-default'  %>
<% if can? :edit, @event %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_event_path(@event), :class => 'btn btn-default' %>
<% end %>
<%= link_to t('.create', :default => t("helpers.submit.create", :model => EventTemplate.model_name.human.titleize)),
                      new_event_template_event_path(@event), :class => 'btn btn-default' %>
<% if can? :destroy, @event %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                event_path(@event),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you  sure?')) },
                :class => 'btn btn-danger' %>
<% end %>
