<h4><%= t User.model_name.human(count: 2).titleize %></h4>
<% @users.each do |user| %>
  <% form_name = 'User:' + user.id.to_s %>
  <%= check_box_tag form_name, "1", @rooms.all?{ |room| user.has_permission(@permission, room) } %> 
  <%= link_to user.display_name, user_path(user) %> <br/>
<% end %>

<h4><%= t Group.model_name.human(count: 2).titleize %></h4>
<% @groups.each do |group| %>
  <% form_name = 'Group:' + group.id.to_s %>
  <%= check_box_tag form_name, "1", @rooms.all?{ |room| group.has_permission(@permission, room) } %> 
  <%= link_to group.name, group_path(group) %> <br/>
<% end %>