<%= form_tag({action: 'submit'}, {remote: true, :'data-type' => 'json', id: "permissionsByPermission", :class => "form-horizontal"}) do |f| %>
  
  <div class="control-group">
    <div class="controls">

      <%= hidden_field_tag 'type', 'permission' %>

      <%= select_tag 'permission',
          options_for_select(@categories.map { |cat| [t('permissions.' + cat), cat]}),
          {class: 'selectpicker', id: 'permissions'} %>

      <h4><%= t('permissions.permission_on', permission: t('permissions.approve_events'), subject: Room.model_name.human(count: 2).titleize) %></h4>
      <%= select_tag 'rooms[approve_events][]',
          options_for_select({'All' => 'all'}, 'all') + options_from_collection_for_select(Room.all, :id, :name),
          { :class => 'selectpicker', id: 'rooms', :multiple => '', :'data-live-search' => "true" } %>
      
      <div id="entitiesDiv"></div>

      <button type="submit" class="btn btn-primary" title="<%= t("helpers.links.save_changes") %>">
        <span class="glyphicon glyphicon-floppy-disk"></span>
      </button>
      
      <%= link_to permissions_path, :title => t("helpers.links.cancel"), :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-remove"></span>
      <% end %>

    </div>
  </div>  

<% end %>