<%= form_tag({action: 'submit'}, {remote: true, :'data-type' => 'json', id: "permissionsByRight", :class => "form-horizontal"}) do |f| %>
  <div class="control-group">
    <div class="controls">
      <%= hidden_field_tag 'type', 'permission' %>
      <%= select_tag 'permission', options_for_select(@categories.map { |cat| [t('permissions.' + cat), cat]}), {class: 'selectpicker', id: 'permissions'} %>
      
      <div id="entitiesDiv"></div>
      <script>
        $(function() {
          $('#permissions').ready(updatePermittedEntities);
          $(document).on('ajax:success', '#permissionsByRight', function(event, data) {
            $('#flash_messages').bootstrap_flash(data);
          });
        })
      </script>

      <%= submit_tag nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              permissions_path, :class => 'btn btn-default' %>

    </div>
  </div>
  <br></br>
  

<% end %>