<%- model_class = Permission -%>

<div id="flash_messages"></div>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
  
  <!--<div class="tabbable tabs-left">-->
  <ul class="nav nav-tabs">
      <li class="active"><a href="#content_entitites" id="tab_entities" data-toggle="tab"> <%= t('.filter_by_entity') %> </a></li>
              <li><a href="#content_permissions" id="tab_permissions" data-toggle="tab"> <%= t('.filter_by_permission') %> </a></li>
  </ul>
  <div class="tab-content">
      <div class="tab-pane active" id="content_entitites">
          <%= render :partial => 'form_permitted' %>
      </div>
      <div class="tab-pane" id="content_permissions">
          <%= render :partial => 'form_permission' %>
      </div>
  </div>

</div>