<h1><%=t '.title' %></h1>

<div id='open_events'>

  <% if not @user_is_admin %>
    <div style="border-color:#FF0000; border-width:2px; border-style:solid; padding:4px">
      To approve and decline events, you need to be an admin. Make yourself an admin by replacing <br>
      identity_url: http://example.com/test.admin <br>
      with your identity url <br>
      identity_url: https://openid.hpi.uni-potsdam.de/user/forename.surname <br>
      in the config file <br>
      event-und-raumplanung/config/config.yml <br>
    </div>
  <%end%>
  <%= render partial: 'events_approval/list', locals: { events: @open_events, events_type: 'open' } %>
</div>
<br>

<div id='approved_events'>
  <h4><%=t '.approved_events' %></h4>
  <center>
    <table>
      <td><%= link_to "<--", events_approval_path(date: @date.yesterday) %></td>
      <td>
        <%= form_tag("events_approval", method: "get", :name => "datePicker") do %>
          <%= select_date(@date, {}, :onchange => ("javascript: document.datePicker.submit();")) %>
        <% end %>
      </td>
      <td><%= link_to "-->", events_approval_path(date: @date.tomorrow) %></td>
    </table>
  </center>
<%= render partial: 'events_approval/list', locals: { events: @approved_events, events_type: 'approved' } %>
</div>
