<h1>EventsApproval#index</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Event</th>
      <th>Bookings</th>
      <th>Aktion</th>
    </tr>
  </thead> 
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td>
          Max Mustermann requests
          <br>
          <span id="event<%=event.id%>" style="display:none"><%=event.id%></span>
        	<%= link_to event.name, event_path(event) %> -
        	<%= event.description %>
          (<%= event.participant_count %>)
        </td>
        <td>
        	<% event.bookings.each do |booking| %>
            <%= link_to booking.name, booking_path(booking) %>, <%= booking.description %>
            <br>
            <%= booking.start.strftime '%A, %d/%m/%y %H:%M' %> - <%= booking.end.strftime '%H:%M' %>,

       			<%= link_to booking.room.name, booking.room %>
            <% if event.bookings.last != booking %>
        		  <hr style="margin:0; padding:0;">
            <% end %>  
        	<% end %>
        </td>
        <td>
          <button type="button" id="event#<%=event.id%>" class="btn btn-danger decline-btn btn-xs"><%= t('.decline', :default => t("helpers.links.decline"))%></button>
          <%= link_to t('.approve', :default => t("helpers.links.approve")), approve_event_path(event, date: @date), :method => :approve, :class => 'btn btn-success btn-xs' %>
        </td>
      </tr> 
    <% end %>
  </tbody>
</table>
<% if @events.count == 0 %>
  No open events.
<% end %>
<br><br>
<h4>Approved Bookings</h4>
<center>
  <%= link_to "<--", events_approval_path(date: @date.yesterday) %>
	<%= @date.strftime '%A, %d/%m/%y' %> 
  <%= link_to "-->", events_approval_path(date: @date.tomorrow) %>
</center>

<% bookings_exist = false %>
<table class="table table-striped">
  <tbody>
    <% @bookings.each do |booking| %>
      <% if !booking.event.approved.nil? and booking.event.approved %>
        <% bookings_exist = true %>
        <tr>
          <td>
          	<%= link_to booking.name, booking_path(booking) %>
            Max Mustermann, <%= link_to booking.event.name, event_path(booking.event) %>),
            <%= booking.event.description %>,
          	<%= booking.description %>
            <br>
            <%= booking.start.strftime '%H:%M' %> - <%=booking.end.strftime '%H:%M' %>,
            <%= link_to booking.room.name, booking.room %>
            (<%= booking.event.participant_count %>)
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<% if !bookings_exist %>
  <center>No approved bookings.</center>
<% end %>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Event</h4>
      </div>
      <div class="modal-body">
<dl class="dl-horizontal">
  <dt><strong><%= Event.human_attribute_name(:id) %>:</strong></dt>
  <dd id="event_id"></dd>
  <dt><strong><%= Event.human_attribute_name(:name) %>:</strong></dt>
  <dd id="event_name"></dd>
  <dt><strong><%= Event.human_attribute_name(:description) %>:</strong></dt>
  <dd id="event_description"></dd>
  <dt><strong><%= Event.human_attribute_name(:rooms) %>:</strong></dt>
  <dd id="event_rooms"></dd>
  <dt><strong><%= Event.human_attribute_name(:participant_count) %>:</strong></dt>
  <dd id="event_participant_count"></dd>
  <dt><strong><%= Event.human_attribute_name(:starts_at) %>:</strong></dt> 
  <dd id="event_starts_at"></dd>
  <dt><strong><%= Event.human_attribute_name(:ends_at) %>:</strong></dt>
  <dd id="event_ends_at"></dd>
  <dt><strong><%= Event.human_attribute_name(:user) %>:</strong></dt>
  <dd id="event_user"></dd>
</dl>
  </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-warning suggest-btn" href=""><%= t('.suggest', :default => t("helpers.links.suggest")) %></a>
        <a type="button" class="btn btn-danger modal-decline-btn" href=""><%= t('.decline', :default => t("helpers.links.decline"))%></a>
      </div>
    </div>
  </div>
</div>