<h1><%=t '.title' %></h1>

<div id='open_events'>

  <% if not @user_is_admin %>
    <div style="border-color:#FF0000; border-width:2px; border-style:solid; padding:4px">
      To approve and decline events, you need to be an admin. Make yourself an admin by replacing <br>
      identity_url: http://example.com/test.admin <br>
      with your identity url <br>
      identity_url: https://openid.hpi.uni-potsdam.de/user/forename.surname <br>
      in the config file <br>
      event-und-raumplanung/config/config.yml <br>
    </div>
  <%end%>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><%=t '.event' %></th>
        <th></th>
        <th><%=t '.bookings' %></th>
      </tr>
    </thead> 
    <tbody>
      <% @events.each do |event| %>
          <td>          
            <%= t('.user') + ' '+ event.user_id.to_s + ' ' + t('.requests') %>
            <br>
          	<%= link_to event.name, event_path(event) %> -
          	<%= event.description %>
            (<%= event.participant_count %>)
          </td>
          <td>        
            <%= image_tag("flag.png", :alt => "Important", :width => 25, :height => 24) unless not event.is_important %>            
          </td>
          <td>
          	<% event.bookings.each do |booking| %>
              <%= link_to booking.name, booking_path(booking) %>,
              <%= booking.description %>
              <br>
              <%= timeslot_with_date_as_string(booking) %>,
         			<%= link_to booking.room.name, booking.room unless booking.room.nil?%>
              <% break unless event.bookings.last != booking %>
          		<hr style="margin:0; padding:0;">
          	<% end %>
          </td>
          <td>
          	<%= link_to t('.decline'), decline_event_path(event), :method => :decline, :class => 'btn btn-danger btn-xs' %>
            <%= link_to t('.approve'), approve_event_path(event), :method => :approve, :class => 'btn btn-success btn-xs' %>
          </td>
        </tr> 
      <% end %>
    </tbody>
  </table>
  <%= t('.no_open_events') unless @events.exists? %>
</div>

<br><br>

<div id='approved_bookings'>
  <h4><%=t '.approved_bookings' %></h4>
  <center>
    <table>
      <td><%= link_to "<--", events_approval_path(date: @date.yesterday) %></td>
      <td>
        <%= form_tag("events_approval", method: "get", :name => "datePicker") do %>
          <%= select_date(@date, {}, :onchange => ("javascript: document.datePicker.submit();")) %>
        <% end %>
      </td>
      <td><%= link_to "-->", events_approval_path(date: @date.tomorrow) %></td>
    </table>
  </center>
  <table class="table table-striped">
    <tbody>
      <% @bookings.each do |booking| %>
        <tr>
          <td>
          	<%= link_to booking.name, booking_path(booking) %>,
            <%= t('.user') + ' ' + booking.event.user_id.to_s %>,
            <%= link_to booking.event.name, event_path(booking.event) %>,
            <%= booking.event.description %>,
          	<%= booking.description %>
            <br>
            <%= timeslot_as_string(booking) %>,
            <%= link_to booking.room.name, booking.room unless booking.room.nil? %>
            (<%= booking.event.participant_count %>)
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= t('.no_approved_bookings') unless @bookings.exists? %>
</div>
