<div id="filterrific_results">
  <%= will_paginate @rooms, renderer: BootstrapPagination::Rails %>
  <div>
    <%= page_entries_info rooms %>
  </div>

  <div class="table-responsive">
        <table class="table table-striped">
        <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:size) %></th>
          <th class="text-right"><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
        </thead>
        <tbody>
        <% @rooms.each do |room| %>
          <tr>
            <td><%= link_to room.name, room_path(room) %></td>
            <td><%= room.size %></td>
            <td class="text-right">
              <%= link_to t('.all_events', :default => t("helpers.links.all_events")),
                          room_events_path(room), :class => 'btn btn-default btn-xs' %>

              <% if can? :edit, Room %>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_room_path(room), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.details', :default => t("helpers.links.details")),
                    room, method: :details, :class => 'btn btn-default btn-xs' %>
              <% end -%>
              <% if can? :destroy, Room %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          room_path(room),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-xs btn-danger' %>
              <% end -%>
              <%= link_to t('.create_event', :default => t("helpers.links.create_event")),
                          new_event_path(room_ids: [room.id]), :class => 'btn btn-default btn-xs' %>
            </td>
          </tr>
        <% end %>
        </tbody>
        </table>
    </div>
<%= will_paginate rooms, renderer: BootstrapPagination::Rails %>
</div>

