<%- model_class = Room -%>
<div class="page-header"/>
	<h1><%=t '.title', :default => [:'helpers.title.details', 'Details of %{model}'], :model => model_class.human_attribute_name(@room.name) %></h1>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Capacity</th>
			<th>Equipment</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= model_class.human_attribute_name(@room.size) %> people</td>
			<td><% @room.equipment.each do |equipment| %>
			<%= model_class.human_attribute_name(equipment) %>
			<% end %></td>
		</tr>
	</tbody>
</table>
<%= link_to t('.back', :default => t("helpers.links.back")),
              rooms_path, :class => 'btn btn-default'  %>
<%= link_to t('.request', :default => t("helpers.links.request booking")),
              edit_room_path(@room), :class => 'btn btn-default' %>