<%- model_class = Room -%>
<% page_header = t '.title', :model => @room.name %>
<% title page_header %>
<div class="page-header"/>
	<h1><%= page_header %></h1>
</div>
<div class="table-responsive">
    <table class="table table-column">
        <thead>
            <tr>
                <th><%= t'.capacity' %></th>
                <th><%= t'.equipment' %></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= @room.size %> <%= t'.people' %><br><br>
                    <%= t'.table_information' %><br>
                    <%= link_to t('.table_request', :default => t("helpers.links.request now")),
                    @room, method: :list, :class => 'btn btn-default btn-xs' %>
                </td>
                <td><table class="table table-column-group">
                    <tbody>
                        <% @room.equipment.each do |equipment| %>
                        <tr>
                            <td><%= equipment.name %></td>
                            <td><%= equipment.description %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table></td>
            </tr>
        </tbody>
    </table>
</div>

<%= link_to t('.back', :default => t("helpers.links.back")),
              rooms_list_path, :class => 'btn btn-default'  %>
<%= link_to t('.request', :default => t("helpers.links.request booking")),
              new_booking_path(:room => @room.id), :class => 'btn btn-default' %>
