<%- model_class = Room -%>
<div class="page-header"/>
	<h1><%=t '.title', :default => [:'helpers.title.details', 'Details of %{model}'], :model => @room.name %></h1>
</div>
<table class="table table-column">
	<thead>
		<tr>
			<th>Capacity</th>
			<th>Equipment</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= model_class.human_attribute_name(@room.size) %> people<br><br>
				Tables upon request<br>
				<%= link_to t('.request', :default => t("helpers.links.request now")),
				@room, method: :list, :class => 'btn btn-default btn-xs' %>
			</td>			
			<td><table class="table table-column-group">
				<tbody>
					<% @room.equipment.each do |equipment| %>
					<tr>
						<td><%= equipment.name %></td>
						<td><%= equipment.description %></td>
					</tr>
					<% end %>
				</tbody>
			</table></td>
		</tr>
	</tbody>
</table>
<table class="table table-column">
	<thead>
		<tr>
			<th>Event</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		<% @room.bookings.each do |booking| %>
			<tr>
				<% if(booking.start.to_date == Date.today) %>
					<td>
						<%= booking.name %>
					</td>
					<td>
						starts at <%= model_class.human_attribute_name(booking.start.to_s(:time)) %>
						ends at <%= model_class.human_attribute_name(booking.end.to_s(:time)) %>
					<td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<% event=Event.find(1)
   user = User.find(event.user_id).identity_url
%> <!-- Todo: integrate with calender -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= event.name %></h4>
      </div>
      <%= form_tag({controller: "events", action: "decline"}, method: "post") %>
          <div class="modal-body">
            <dl class="dl-horizontal">
              <dt><strong><%= model_class.human_attribute_name(:id) %>:</strong></dt>
              <dd><%= link_to event.id, event_path(event) %></dd>
              <dt><strong><%= model_class.human_attribute_name(:rooms) %>:</strong></dt>
              <dd><%= concat_rooms(event) %></dd>
              <dt><strong><%= model_class.human_attribute_name(:participant_count) %>:</strong></dt>
              <dd><%= event.participant_count %></dd>
              <dt><strong><%= model_class.human_attribute_name(:starts_at) %>:</strong></dt>
              <% if event.starts_at %>
                  <dd><%= event.starts_at.strftime("%d.%m.%Y - %H:%M") %></dd>
              <% end %>
              <dt><strong><%= model_class.human_attribute_name(:ends_at) %>:</strong></dt>
              <% if event.ends_at %>
                  <dd><%= event.ends_at.strftime("%d.%m.%Y - %H:%M") %></dd>
              <% end %>
              <dt><strong><%= model_class.human_attribute_name(:user) %>:</strong></dt>
              <dd><%= user %></dd>
              <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
              <dd><%= event.status %></dd>
            </dl>
            <div class="form-group">
              <%= label_tag(:q, "Message for event creator") %>:
              <%= text_area_tag("message", rows: 3) %>
            </div>
          </div>
          <div class="modal-footer">
            <%= submit_tag("Decline", :class => 'btn btn-danger btn-s') %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<%= link_to t('.back', :default => t("helpers.links.back")), rooms_list_path, :class => 'btn btn-default'  %>
<%= link_to t('.request', :default => t("helpers.links.request booking")), new_booking_path(:room => @room.id), :class => 'btn btn-default' %>
