<%- model_class = Room -%>
<% page_header = t '.title', :default => model_class.model_name.human.pluralize.titleize %>
<% title page_header %>
<div class="page-header">
  <div class="row">
    <div class="col-md-11">
      <h1><%= page_header %></h1>
    </div>
    <div class="col-md-1 text-right">
      <% if can? :new, Room %>
        <h1 class="text-right">
          <%= link_to t('.new', :default => t("helpers.links.new")),
                         new_room_path,
                         :class => 'btn btn-primary' %>
        </h1>
      <% end %>
    </div>
  </div>
</div>

<div class="well">
  <div class="row">
    <%= form_for @filterrific do |f| %>
    <div class="col-md-3">
      <div class="form-group">
        <div class="chardin_box">
          <%= t '.search' %>
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <%= f.text_field(
            :search_query,
            class: 'filterrific-periodically-observed form-control'
          ) %>
       </div>
      </div>
    </div> 
    <div class="col-md-3">
      <div class="form-group">
        <div class="chardin_box">
          <%= t '.sorted_by' %>
          <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by], {}, {class: 'form-control'}) %>
       </div>
      </div>
    </div> 
    <div class="col-md-3">
      <div class="form-group">
        <div class="chardin_box">
          <%= t '.items_per_page' %>
          <%= f.select(:items_per_page, @filterrific.select_options[:items_per_page], {}, {class: 'form-control'}) %>
       </div>
      </div>
    </div> 
    <div class="col-md-2">
      <br/>
      <%= link_to (t '.reset_filter'), reset_filterrific_rooms_path, :class => 'btn btn-default' %>
    </div>
    <div class="col-md-1">
      <%= render_filterrific_spinner %>
    </div>
  <% end %>
  </div>
</div>

<%= render(partial: 'rooms/list', locals: { rooms: @rooms,  model_class:  model_class }) %>