<h1><%= t'.room_selection' %></h1>
<%= form_tag("/rooms/list", method: "get", :name => "list", :ID => 1, :remote => true) do %>
<%= label_tag(:size, I18n.t('rooms.list.requested_size')) %>
<%= number_field(:room, :size, in: 0.0..999999999, step: 1.0, :value => @size, :onchange => ("javascript: document.list.submit();")) %>
<br>
<%= t'.necessary_equipment' %>
<br>
<% @categories.each do |category| %>
<% if params.has_key?(category) %>
<%= check_box_tag(category,true, true, :onclick => "javascript: document.list.submit();") %>
<% else %>
<%= check_box_tag(category,true, false, :onclick => "javascript: document.list.submit();") %>
<% end %>
<%= label_tag(category, category) %>

<% end %>
<br>
<%= t'.necessary_properties' %>
<br>
<% @properties.each do |property| %>
<% if params.has_key?(property) %>
<%= check_box_tag(property, true, true, :onclick => "javascript: document.list.submit();") %>
<% else %>
<%= check_box_tag(property, true, false, :onclick => "javascript: document.list.submit();") %>
<% end %>
<%= label_tag(property, property) %>
<% end %>
<br>
  
<% end %>
<br><br>
<% if @empty %>
<%= t'.no_rooms_found' %>
<%elsif @noSelection %>
<%= t'.no_selection' %>
<% else %> 
<table border=1px>
    <tr>
        <th><%= t'.room_id' %></th>
        <th><%= t'.room_name' %></th>
        <th><%= t'.room_size' %></th>
        <th><%= t'.equipment' %></th>
        <th><%= t'.properties' %></th>
    </tr>
    <% @rooms.each do |room| %>
    <tr>
      <td align="middle"><%= room.id %></td>
      <td><%= link_to room.name, room, method: :details %></td>
      <td align="middle"><%=room.size %></td>
      <td>
      <% category_list = Equipment.where(:room_id => room.id).pluck(:category) %>
      <% category_list.each do |item| %>
      <%= item %>
      <% end %>
      </td>
      <td>
      <% property_list = RoomProperty.where(:room_id => room.id).pluck(:name) %>
      <% property_list.each do |item| %>
      <%= item %>
      <% end %>
      </td>
    </tr>
    <% end %>
</table>
<% end %>
<br><br><br>
