<%-
  model_class = Room
  maximum_events = 5
-%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @room.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:size) %>:</strong></dt>
  <dd><%= @room.size %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              rooms_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_room_path(@room), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              room_path(@room),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

<div id="events">
  <div class="page-header upcoming-events">
    <h2>Anstehende <%=t '.title', :default => Event.model_name.human.pluralize.titleize %></h2>
    <%= link_to 'Alle ' + Event.model_name.human.pluralize.titleize,
                  room_events_path(@room), :class => 'btn btn-default' %>
  </div>

  <% events = @room.upcoming_events %>
  <% if events.size != 0 %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= Event.human_attribute_name(:name) %></th>
          <th><%= Booking.human_attribute_name(:start) %></th>
          <th><%= Booking.human_attribute_name(:end) %></th>
        </tr>
      </thead>
      <tbody>
        <% events.take(maximum_events).each do |booking| %>
          <tr>
            <td><%= link_to booking.event.name, event_path(booking.event) %></td>
            <td><%=l booking.start %></td>
            <td><%=l booking.end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <% if events.size == 0 %>
    <em><%=t '.no_upcoming_events' %></em>
  <% end %>
</div>