<%-
  model_class = Room
  maximum_events = 5
-%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @room.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:size) %>:</strong></dt>
  <dd><%= @room.size %></dd>
  <dt><strong><%= model_class.human_attribute_name(:properties) %>:</strong></dt>
  <dd><%= @room.list_properties.presence || t('.no_properties') %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              rooms_path, :class => 'btn btn-default'  %>

<% if can? :edit, Room %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_room_path(@room), :class => 'btn btn-default' %>
<% end %>

<% if can? :edit, Room %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              room_path(@room),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<% end %>

<div id="events">
  <div class="page-header upcoming-events">
    <h2><%=t '.upcoming_events' %></h2>
    <%= link_to t('.all_events'),
                  room_events_path(@room), :class => 'btn btn-default' %>
  </div>

  <%= render :partial => 'upcoming_events' %>
</div>
<div class "page-header">
    <h2><%=t '.equipment' %> </h2>
    <% if @assigned_equipment != {} %>
      <div class="table-responsive">
          <table class="table table-column">
            <thead>
            <tr>
              <th><%= t '.category'%></th>
              <th><%= t '.available'%></th>
            </tr>
            </thead>
            <tbody>
              <% @assigned_equipment.each do |category, count| %>
                <tr>
                  <td><%= category%></td>
                  <td><%= count %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    <% else %>
      <em><%=t '.no_equipment' %></em><br/>
    <% end %>
</div>
<br></br>

