<h1>Approve Events</h1>

<table class="table table-striped">
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td> Max Mustermann requests <br/>
        	<%= link_to event.name, event_path(event) %> <br/>
        	<%= event.description %>
        </td>
        <td>
        	<% event.bookings.each do |booking| %>
        		<%= booking.start.strftime '%A, %d/%m/%Y %H:%M' %> - <%= booking.end.strftime '%H:%M' %>,
        		<% if !booking.room.nil? %> 
        			<%= booking.room.name %>
        		<% end %>
        		<br/>
        	<% end %>
        </td>
        <td>
          	<%= link_to "Reject", event_path(event),
                      :method => :delete, :class => 'btn btn-xs btn-danger' %>
            <%= link_to "Approve", event_path(event),
                      :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<center>
	<-- <%= @date.strftime '%A, %d/%m/%Y' %> -->
</center>

<table class="table table-striped">
  <tbody>
    <% @bookings.where('start BETWEEN ? AND ?', @date.beginning_of_day, @date.end_of_day ).each do |booking| %>
    	<% if booking.event.approved.nil? %>
	      <tr>
	        <td>
	        	<%= link_to booking.name, booking_path(booking) %> <br/>
	        	<%= booking.description %>
	        </td>
	        <td>
	    		<%= booking.start.strftime '%A, %d/%m/%Y %H:%M' %> - <%= booking.end.strftime '%H:%M' %>
	    		<% if !booking.room.nil? %> 
	    			<%= booking.room.name %>
	    		<% end %>
	        </td>
	      </tr>
		<% end %>
    <% end %>
  </tbody>
</table>