<%- model_class = EventOccurrence -%>
<% title @event.name %>

<%= render :partial => 'events/event_details', locals: { event: @event, user: @user } %>

<% if @event.tasks.include?(Task.where(identity_type: 'User', identity_id: current_user.id)) or current_user.id == @event.user_id %>
  <div class="event-view-section">
    <h3><%= t 'layouts.application.tasks' %></h3>
    <% @event_id = @event.id %>
    <%= render(partial: '/tasks/tasks_box', locals: { tasks: @tasks, event: @event })%>
  </div>
<% end %>

<% unless @feed_entries.nil? %>
  <div class="event-view-section">
    <h3><%= t 'activities.activity_log' %></h3>

    <div class="feed-container">
      <div class="feed">
        <% @feed_entries.each_with_index do |feed_entry, index| %>
          <%= render :partial => 'events/feed_entry', :locals => { feed_entry: feed_entry, index: index } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="event-view-section">
    <div class="new-comment">
      <h4><%= t 'comments.new_comment' %></h4>
      <%= render :partial => 'events/comments' %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-xs-4 col-md-3">
    <%= link_to t('.back', :default => t("helpers.links.back")), :back, :class => 'btn btn-default'  %>
  </div>
  <div class="col-xs-14 col-md-9 text-right">
    <%= link_to t('.create', :default => t("helpers.submit.create", :model => EventTemplate.model_name.human.titleize)),
                        new_event_template_from_event_path(@event), :class => 'btn btn-default' %>
    <% if can? :edit, @event %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_event_path(@event), :class => 'btn btn-default' %>
    <% end %>

    <% if can? :destroy, @event %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    event_path(@event),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger' %>
    <% end %>
  </div>
</div>
