<%- model_class = EventOccurrence -%>
<% title @event.name %>

<%= render :partial => 'events/event_details', locals: { event: @event, user: @user } %>

<% if @event.tasks.include?(Task.where(identity_type: 'User', identity_id: current_user.id)) or current_user.id == @event.user_id %>
  <div class="event-view-section">
    <h3><%= t 'layouts.application.tasks' %></h3>
    <% @event_id = @event.id %>
    <%= render(partial: '/tasks/tasks_box', locals: { tasks: @tasks, event: @event })%>
  </div>
<% end %>

<% unless @feed_entries.nil? %>
  <div class="event-view-section">
    <h3><%= t 'activities.activity_log' %></h3>

    <div class="feed-container">
      <div class="feed">
        <% @feed_entries.each_with_index do |feed_entry, index| %>
          <%= render :partial => 'events/feed_entry', :locals => { feed_entry: feed_entry, index: index } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="event-view-section">
    <div class="new-comment">
      <h4><%= t 'comments.new_comment' %></h4>
      <%= render :partial => 'events/comments' %>
    </div>
  </div>
<% end %>

<div class="row event-view-footer">
  <div class="col-xs-4 col-md-3">
    <%= link_to :back, :title =>t("helpers.links.back"), :class => 'btn btn-default' do  %>
      <span class="glyphicon glyphicon-arrow-left"></span>
    <% end %>
  </div>
  <div class="col-xs-14 col-md-9 text-right">
    <%= link_to new_event_template_from_event_path(@event), :title => t("helpers.submit.create", :model => EventTemplate.model_name.human.titleize), :class => 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
    <% end %>
    <% if can? :edit, @event %>
      <%= link_to edit_event_path(@event), :title => t("helpers.links.edit"), :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-pencil"></span>
      <% end %>
    <% end %>

    <% if can? :destroy, @event %>
      <% if @event.single_occurrence_event? %>
        <%= link_to event_path(@event),
                      :title => t("helpers.links.destroy"),
                      :method => 'delete',
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger' do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      <% else %>
        <button id="trigger-delete-dialog" class="btn btn-danger glyphicon glyphicon-trash"></span>
      <% end %>
    <% end %>
  </div>

  <!-- DeleteDialog start -->
  <div id="delete-event">
    <% if can? :destroy, @event_occurrence.event %>
      <div class="delete-button-container">
        <!-- delete single occurrence -->
        <%= link_to t('.destroy', :default => t("event_occurrences.show.delete_occurrence")),
                      delete_occurrence_path(:eventid => @event_occurrence.event.id, :starting => @event_occurrence.starts_occurring_at.to_s, :ending => @event_occurrence.ends_occurring_at.to_s),
                      :method => 'delete',
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger' %>
        <span><%= t("event_occurrences.show.delete_occurrence_description") %></span>
      </div>

      <div class="delete-button-container">
        <!-- delete series, i.e. the whole event -->
        <%= link_to t('.destroy', :default => t("event_occurrences.show.delete_series")),
                      event_path(@event_occurrence.event),
                      :method => 'delete',
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger' %>
        <span><%= t("event_occurrences.show.delete_series_description") %></span>
      </div>
    <% end %>
  </div>
  <div id="delete-event-overlay"></div>
  <!-- DeleteDialog ende -->



</div>
