<link href="bootstrap-switch.min.css" rel="stylesheet">
<script src="bootstrap-switch.min.js"></script>

<%= form_tag ( { :action => "update_profile", :controller => "profile"}) do %>
	<h1> Max Mustermann </h1>
	<p> Email Nodifications: </br><input type="checkbox" name="checkEmailNod" <% if auser.email_notification %>checked<% end %>></p>
	<p> Full Name: </br><%= text_field_tag( :fullname, auser.fullname,  class: 'form-control' )%></p>
	<p> Office Location:</br>	<%= text_field_tag :officelocation, auser.office_location ,  class: 'form-control' %></p>
	<p> Office Phone:</br>	<%= text_field_tag :officephone, auser.office_phone ,  class: 'form-control' %> </p>
	<p> Mobile Phone:</br> 	<%= text_field_tag :mobilephone, auser.mobile_phone ,  class: 'form-control' %></p>
	<p> Language: </br> <% if auser.language == "German" %>
            <%= select_tag "language", "<option selected='selected'> German </option><option> English </option>".html_safe %></p></br>
          <% else %>
            <%= select_tag "language", "<option> German </option><option selected='selected'> English </option>".html_safe %></p></br>
          <% end %>

	<%= submit_tag "Save Profile" %>

<% end %>



		<script>
		$("[name='checkEmailNod']").bootstrapSwitch();
		</script>